<%
    import alliancekeeper
%>
<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="UTF-8" http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>AllianceKeeper - ${title}</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/png"  href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/ll.png">
    <link rel="stylesheet" href="css/style.css?v=2">
    <script type="text/javascript" src="js/mootools.js"></script>
    <script type="text/javascript" src="js/mootools_more.js"></script>
    <script type="text/javascript" src="js/jquery-1.8.2.js"></script>
    <script type="text/javascript" src="js/libs/modernizr-1.7.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
    <script type="text/javascript" src="js/nav.js"></script>
    <script type="text/javascript" src="js/jquery.clearsearch.js"></script>
    <script type="text/javascript" src="js/question.js"></script>
    <script type="text/javascript" src="js/alliancekeeper.js"></script>
    ${next.headIncludes()}
    <script type="text/javascript" >
      // Edit to suit your needs.
      var ADAPT_CONFIG = {
        // Where is your CSS?
        path: 'css/',

        // false = Only run once, when page first loads.
        // true = Change on window resize and page tilt.
        dynamic: true,

        // First range entry is the minimum.
        // Last range entry is the maximum.
        // Separate ranges by "to" keyword.
        range: [
          '0px    to 320px  = mobile.css',
          '321px    to 640px  = iphone4_portrait.css',
          '641px  to 768px  = ipad_portrait.css',
          '768px  to 1024px  = ipad_landscape.css',
          '1024px  to 2540px  = style.css',
        ]
      };
    </script>
    <script type="text/javascript" src="js/adapt.min.js"></script>
    <!--    <div id="demo"></div>
    <script>
    wsize = window.innerWidth;
    document.getElementById("demo").innerHTML = wsize;
    </script> -->
    <script type="text/javascript" >
      // Script to add a clear button to the search author input box
      $(document).ready(function () {
          $('input.deletable').wrap('<span class="" id="deleteicon"/>').after($('<span/>').click(function () {
              $(this).prev('input').val('').focus();
              $('#deleteicon').removeClass('deleteicon');
          }));

          $('input.deletable').bind('input', function () {
              if ($(this).val() == "") // get the current value of the input field.
              {
                  $('#deleteicon').removeClass('deleteicon');
              }
              else {
                  $('#deleteicon').addClass('deleteicon');
              }
          });
      });
    </script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script type="text/javascript" >
      !window.jQuery && document.write(unescape('%3Cscript src="js/libs/jquery-1.6.2.min.js"%3E%3C/script%3E'))
    </script>
    ${next.javascriptIncludes()}
    <script type="text/javascript" language="JavaScript">
      function toggleAll(source) {
          checkboxes = document.getElementsByClassName('checkbox');
          for (var i in checkboxes)
              checkboxes[i].checked = source.checked;
      }
    </script>
    <script type="text/javascript" src="js/plugins.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
  </head>
  <body>
    <div id="container">
      <div id="ajaxMsg"></div>
      % if alliancekeeper.CONFIG['INSTALL_TYPE'] == 'git' or  alliancekeeper.CONFIG['INSTALL_TYPE'] == 'source':
      % if not alliancekeeper.CONFIG['CURRENT_VERSION']:
      <div id="updatebar">
        You are running an unknown version of alliancekeeper. <a href="update">Update</a> or
        <a href="#" onclick="$('#updatebar').slideUp('slow');">Close</a>
      </div>
      % elif (alliancekeeper.CONFIG['INSTALL_TYPE'] == 'source' and alliancekeeper.CONFIG['CURRENT_VERSION'] == 'No Version File' ):
      <div id="updatebar">
        Running Unknown version via source install. Update from central area now <a href="update">Update</a> or
        <a href="#" onclick="$('#updatebar').slideUp('slow');">Close</a>
      </div>
      % elif alliancekeeper.CONFIG['CURRENT_VERSION'] != alliancekeeper.CONFIG['LATEST_VERSION']:
      % if alliancekeeper.CONFIG['LATEST_VERSION'] == 'Not_Available_From_GitHUB':
      <div id="updatebar">
        Unable to get latest version from GITHub
      </div>
      % elif alliancekeeper.CONFIG['COMMITS_BEHIND'] < 0:
                        <div id="updatebar">
        Running a local updated version. Push changes to GITHub or rollback to Master release
      </div>
      % elif alliancekeeper.CONFIG['COMMITS_BEHIND'] > 1:
      <div id="updatebar">
        A <a href="http://github.com/DobyTang/LazyLibrarian/compare/${lazylibrarian.CONFIG['CURRENT_VERSION']}...${lazylibrarian.CONFIG['LATEST_VERSION']}" target="_blank"> newer version</a> is available. You're ${lazylibrarian.CONFIG['COMMITS_BEHIND']} commits behind. <a href="update">Update</a> or <a href="#" onclick="$('#updatebar').slideUp('slow');">Close</a>
      </div>
      % elif alliancekeeper.CONFIG['COMMITS_BEHIND'] == 1:
      <div id="updatebar">
        A <a href="http://github.com/DobyTang/LazyLibrarian/compare/${lazylibrarian.CONFIG['CURRENT_VERSION']}...${lazylibrarian.CONFIG['LATEST_VERSION']}" target="_blank"> newer version</a> is available. You're one commit behind. <a href="update">Update</a> or <a href="#" onclick="$('#updatebar').slideUp('slow');">Close</a>
      </div>
      % endif
      % endif
      % endif
      <header>
        <div id="headercontainer">
          <div id="navbardiv">
            <table>
              <tr>
                <div>
                    <a href="${alliancekeeper.CONFIG['HTTP_ROOT']}home" class="navbarele">Home</a>
                    <a href="${alliancekeeper.CONFIG['HTTP_ROOT']}players" class="navbarele">Players</a>
                    <a href="${alliancekeeper.CONFIG['HTTP_ROOT']}events" class="navbarele">Events</a>
                    <a href="${alliancekeeper.CONFIG['HTTP_ROOT']}wars" class="navbarele">Wars</a>
                    <a href="${alliancekeeper.CONFIG['HTTP_ROOT']}gunindex" class="navbarele">Base/Gun Index</a>
                    <a href="${alliancekeeper.CONFIG['HTTP_ROOT']}history" class="navbarele">History</a>
                    <a href="${alliancekeeper.CONFIG['HTTP_ROOT']}logs" class="navbarele">Logs</a>
                    <a href="${alliancekeeper.CONFIG['HTTP_ROOT']}config" class="navbarcfg">Config</a>
                    <a href="${alliancekeeper.CONFIG['HTTP_ROOT']}auth/logout" class=""navbarele">Logout</a>
                </div>
                <div id="searchbar" class="searchbar">
                    <form class="input-group" action="search" method="get">
                        <input type="text" value="" onfocus="if(this.value==this.defaultValue) this.value='';" name="name" placeholder="Search">
                        <span class="mini-icon"></span>
                    </form>
                </div>
              </tr>
            </table>
          </div>
            <div id="subhead">
  ${next.headerIncludes()}
</div>
</div>
</div>
</header>
<div id="main" class="main container">
  ${next.body()}
</div>
</div>
    <!--[if lt IE 7 ]>
  <script src="js/libs/dd_belatedpng.js"></script>
  <script>
    DD_belatedPNG.fix('img, .png_bg');
  </script>
<![endif]-->
</body>
</html>
<%def name="javascriptIncludes()"></%def>
<%def name="headIncludes()"></%def>
<%def name="headerIncludes()"></%def>