<%inherit file="base.html"/>
<%!
    import alliancekeeper
%>
<%def name="headerIncludes()">
    <div id="subhead_container">
        <ul id="subhead_menu">
            <li><a onclick="self.shutdownQA(this)" id="button">Shutdown</a></li>
            <li><a id="button" onclick="self.restartQA(this, '', '')">Restart</a></li>
            <li ><a id="button" href="checkForUpdates">Check Version</a></li>
        </ul>
    </div>
</%def>
<%def name="body()">
<BR><BR>
<h1>&nbsp;&nbsp;${title}</h1>
    <form action="configUpdate" method="post">
    <div id="form">
    <div id="tabs">
        <ul>
            <li role='presentation' id="1" ><a  href="#tabs-1">Interface</a></li>
            <li role='presentation' id="2" ><a  href="#tabs-2">Importing</a></li>
            <li role='presentation' id="3" ><a  href="#tabs-3">Downloaders</a></li>
            <li role='presentation' id="4" ><a  href="#tabs-4">Providers</a></li>
            <li role='presentation' id="5" ><a  href="#tabs-5">Processing</a></li>
            <li role='presentation' id="6" ><a  href="#tabs-6">Notifications</a></li>
            <li role='presentation' id="7" ><a  href="#tabs-7">Categories</a></li>
            <li role='presentation' id="8" ><a  href="#tabs-8">Filters</a></li>
        </ul>
    </div>


    </div>
    </form>
</%def>
