<%inherit file="base.html"/>
<%!
    import alliancekeeper
%>
<%def name="headerIncludes()">
    <div id="subhead_container">
        <ul id="subhead_menu">
            <li><a href="forceUpdate" id="button"> Refresh Alliances </a></li>
        </ul>    </div>
</%def>

<%def name = "body()">
<BR><BR>
<h1>&nbsp;&nbsp;${title}</h1>
    <table class="display" id="alliance_table">
        <thead>
            <tr>
                <th id="alliancename">Alliance</th>
                <th id="playercount">Members</th>
                <th id="medalcount">Medals</th>
            </tr>
        </thead>
    </table>
<p>&nbsp;</p>
<p>&nbsp;</p>
</%def>
<%def name="headIncludes()">
    <link rel="stylesheet" href="css/data_table.css">
</%def>
<%def name="javascriptIncludes()">
  <script src="js/libs/jquery.dataTables.min.js"></script>
  <script src="js/libs/natural.js"></script>
  <script>
    $(document).ready(function()
    {
        var table = $('#alliance_table').dataTable(
            {
                "bAutoWidth": false,
                "aoColumns": [
                    { "fnRender": function ( oObj ) {
                        return '<a href="alliancePage?AllianceID=' + oObj.aData[0] + '">' + oObj.aData[1] + '</a>'
                      }
                    },
                    { "fnRender": function ( oObj ) {
                        return oObj.aData[3]
                      }
                    },
                    { "fnRender": function ( oObj ) {
                        return oObj.aData[4]
                      }
                    }
                    ],
                "order": [[ 0, 'asc']],
                "oLanguage": {
                    "sLengthMenu":"Show _MENU_ alliances per page",
                    "sEmptyTable": "No alliances found",
                    "sInfo":"Showing _START_ to _END_ of _TOTAL_ alliances",
                    "sInfoEmpty":"Showing 0 to 0 of 0 alliances",
                    "sInfoFiltered":"(filtered from _MAX_ total alliances)"},
                "bServerSide": true,
                "sAjaxSource": 'getIndex',
                "bFilter": true,
                "aLengthMenu": [[5, 10, 15, 25, 50, 100, -1], [5, 10, 15, 25, 50, 100, "All"]],
                "iDisplayLength": ${alliancekeeper.CONFIG['DISPLAYLENGTH']},
                "sPaginationType": "full_numbers",
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    $('td', nRow).eq(3).addClass('center');
                    $('td', nRow).eq(4).addClass('center');
                    $('td', nRow).eq(5).addClass('center');
                    return nRow;
                },
                "aaSorting": [[1, 'asc']],
            });
        $('.dataTables_filter input').attr("placeholder", "Search table here");
    });
  </script>
</%def>
