
<%inherit file="base.html"/>
<%!
    import alliancekeeper
%>
<%def name="headerIncludes()">
    <div id="subhead_container">
        % if _session['access_level'] > 0:
            <a href="editPlayer?PlayerID=-1&AllianceID=${alliance['AllianceID']}&Return=AllianceEvent&ReturnID=${event['EventID']}|${alliance['AllianceID']}" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i> Add Player</a>
        % endif
    </div>
</%def>

<%def name="body()">
<div class="row">
    <ul class="breadcrumb">
        <li><a href="${alliancekeeper.CONFIG['HTTP_ROOT']}">Home</a></li>
        <li><a href="${alliancekeeper.CONFIG['HTTP_ROOT']}alliancePage?AllianceID=${alliance['AllianceID']}">${alliance['AllianceName']}</a></li>
        <li class="active">${event['EventName']}</li>
    </ul>
</div>
<div class="row">
    <div id="eventhead_container" class="col-md-9">
        <div id="evenyhead_menu">
            <h1>${event['EventName']} [${alliance['AllianceName']}]
                % if int(_session['access_level']) > 0:
                    <a href="editAllianceEvent?AllianceID=${alliance['AllianceID']}&EventID=${event['EventID']}">
                    <small><i>Edit</i></small></a>
                % endif
            </h1>
            <h3><b>Alliance Score:</b> ${allianceevent['AlliancePoints']}</h3>
            <h3><b>Time Completed:</b> ${allianceevent['TimeCompleted']}</h3>
        </div>

    </div>
</div>
<div role="tab-table" class="hidden">
    <div>
        <ul class="nav nav-tabs" role="tablist" id="eventtabs">
            <li role="presentation" id="1" aria-controls="results"><a role="tab" data-toggle="tab" aria-controls="results" href="#results">Results</a></li>
            % if eventplan:
                <li role="presentation" id="2" aria-controls="planning"><a role="tab" data-toggle="tab" aria-controls="planning" href="#planning">Planning</a></li>
                <li role="presentation" id="3" aria-controls="history"><a role="tab" data-toggle="tab" aria-controls="history" href="#history">Planning: History</a></li>
                <li role="presentation" id="4" aria-controls="moveout"><a role="tab" data-toggle="tab" aria-controls="moveout" href="#moveout">Planning: Move Out</a></li>
                <li role="presentation" id="5" aria-controls="movein"><a role="tab" data-toggle="tab" aria-controls="movein" href="#movein">Planning: Move In</a></li>
                <li role="presentation" id="6" aria-controls="roster"><a role="tab" data-toggle="tab" aria-controls="roster" href="#roster">Planning: Roster</a></li>
            % endif
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane" id="results">
                <div class="configtable">
                    <div class="row">
                        <form action="eventresultUpdate" method="post">
                            <div class="configtable">
                                % if msg:
                                <div class="alert alert-danger" style="text-align: center; padding: 8px;">
                                    ${msg}
                                </div>
                                % endif
                                <fieldset>
                                    <legend>${title}</legend>
                                    <div class="form-group">
                                        <input type="text" id="allianceid" name="allianceid" value="${allianceevent['AllianceID']}" class="hidden">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" id="eventid" name="eventid" value="${allianceevent['EventID']}" class="hidden">
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-xs-4">
                                            <label for="playerid" class="col-lg-6 control-label">Player Name:</label>
                                            <select name="playerid" id="playerid" class="form-control" autofocus>
                                                %for player in playerlist:
                                                <option value="${player['PlayerID']}">${player['PlayerName']}</option>
                                                %endfor
                                            </select>
                                        </div>

                                        <div class="form-group col-xs-2">
                                            <label for="eventpoints" class="col-lg-12 control-label">Points Earned:</label>
                                            <input type="number" id="eventpoints" name="eventpoints" class="form-control">
                                        </div>
                                        <div class="form-group col-xs-2">
                                            <label class="col-lg-12 control-label">Submit:</label>
                                            <input type="submit" value="Save changes" id="add" class="btn btn-primary">
                                        </div>
                                    </div>
                                </fieldset>
                                <p>&nbsp;</p>
                            </div>
                        </form>
                        <div class="table-responsive">
                            <table class="display table table-striped table-hover table-bordered" id="eventresults_table">
                                <thead>
                                <tr>
                                    <th class="select text-center no-sort"><input type="checkbox" onClick="toggleAll(this)" /></th>
                                    <th class="playername">Player Name</th>
                                    <th class="commit">Commitment</th>
                                    <th class="eventpoints">Points</th>
                                </tr>
                                </thead>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="planning">
                <div class="configtable">
                    <div class="row">
                        <div>
                            %if eventplan:
                                <%
                                    url = 'commitment?PlanID=%s' % (eventplan['PlanUUID'])
                                %>
                            <h3>Commitment Link: <a href="${url}">${url}</a></h3>
                            %else:
                            <h3>No Planning Defined</h3>
                            %endif
                            <h3>Total Committed: ${totalcommitments}</h3>
                        </div>
                        <%
                            showmove = ''
                            if not alliancekeeper.CONFIG['COMMIT_SHOWMOVE']:
                                showmove = ' hidden'
                        %>
                        <div class="table-responsive">
                            <table class="display table table-striped table-hover table-bordered" id="eventplanning_table">
                                <thead>
                                <tr>
                                    <th class="playername">Player Name</th>
                                    <th class="commitment">Commitment</th>
                                    <th class="availfriday">Friday</th>
                                    <th class="availsaturday">Saturday</th>
                                    <th class="availsunday">Sunday</th>
                                    <th class="willingtomove${showmove}">Move?</th>
                                    <th class="Notes">Notes</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="history">
                <div class="configtable">
                    <div class="row">
                        <div class="table-responsive">
                            <table class="display table table-striped table-hover table-bordered" id="eventhistory_table">
                                <thead>
                                <tr>
                                    <th class="playername">Player Name</th>
                                    %for priorevent in prioreventlist:
                                        <th class="${priorevent}">${priorevent}</th>
                                    %endfor
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="moveout">
                <div class="configtable">
                    <div class="row">
                        <div class="table-responsive">
                            <table class="display table table-striped table-hover table-bordered" id="movementout_table">
                                <thead>
                                <tr>
                                    <th class="currentalliance">Current Alliance</th>
                                    <th class="playername">Player Name</th>
                                    <th class="commitment">Commitment</th>
                                    <th class="newalliance">New Alliance</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="movein">
                <div class="configtable">
                    <div class="row">
                        <div class="table-responsive">
                            <table class="display table table-striped table-hover table-bordered" id="movementin_table">
                                <thead>
                                <tr>
                                    <th class="currentalliance">Current Alliance</th>
                                    <th class="playername">Player Name</th>
                                    <th class="commitment">Commitment</th>
                                    <th class="newalliance">New Alliance</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="roster">
                <div class="configtable">
                    <div class="row">
                        <div>
                            <h3>Roster Commitment: ${plannedcommitments}</h3>
                        </div>
                        <div class="table-responsive">
                            <table class="display table table-striped table-hover table-bordered" id="eventroster_table">
                                <thead>
                                <tr>
                                    <th class="playername">Player Name</th>
                                    <th class="commitment">Commitment</th>
                                    <th class="availfriday">Friday</th>
                                    <th class="availsaturday">Saturday</th>
                                    <th class="availsunday">Sunday</th>
                                    <th class="willingtomove">Move?</th>
                                    <th class="Notes">Notes</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


</%def>

<%def name="javascriptIncludes()">
    <script type="text/javascript">
    function initThisPage()

    {
        "use strict";
        // when the page first loads, hide all tab headers and panels
        $("li[role='presentation']").attr("aria-selected", "false");
        $("li[role='presentation']").removeClass('active');
        $("div[role='tabpanel']").attr("aria-hidden", "true");
        $("div[role='tabpanel']").removeClass('active');
        // which one do we want to show
        var tabnum = $("#current_tab").val();
        var tabid = $("#" + tabnum);
        var tabpanel = tabid.attr('aria-controls');
        var tabpanelid = $("#" + tabpanel);
        // show the tab header and panel we want
        tabpanelid.attr("aria-hidden", "false");
        tabpanelid.addClass('active');
        tabid.attr("aria-selected", "true");
        tabid.addClass('active');
        $("div[role='tab-table']").removeClass('hidden');
        var url = document.location.toString();
        if (url.match('#')) {
            $('.nav-tabs a[href="#' + url.split('#')[1] + '"]').tab('show');
        }
        // when a tab is clicked
        $("li[role='presentation']").click(function(){
            var tabnum = $(this).attr('id');    // store current tab for python
            $("#current_tab").val(tabnum);
        });


    } // End Init

    $(document).ready(function() {
        initThisPage();
    });
  </script>
    <script type="text/javascript">
    $(document).ready(function()
    {
        var oTable = $('#eventresults_table').DataTable(
            {
                "order": [[ 2, 'desc' ]],
                "bAutoWidth": false,
                "stateSave": true,
                "columnDefs":[
                    { targets: 'no-sort', orderable: false },
                    { targets: [0], 'render': function(data, type, row) {
                        return '<input type="checkbox" name="' + data + '" class="checkbox" />';} },
                    { targets: [1], 'render': function(data, type, row) {
                        return data ;} },
                    { targets: [3], 'render': function(data, type, row) {return statusblock(data, row[2]);} }
                    ],
                "oLanguage": {
                    "sSearch": "Filter: ",
                    "sLengthMenu":"_MENU_ rows per page",
                    "sEmptyTable": "No results found",
                    "sInfo":"Showing _START_ to _END_ of _TOTAL_ rows",
                    "sInfoEmpty":"Showing 0 to 0 of 0 rows",
                    "sInfoFiltered":"(filtered from _MAX_ total rows)"},
                "sPaginationType": "full_numbers",
                "aaSorting": [[2, 'desc']],
                "bServerSide": true,
                "sAjaxSource": 'getEventResults?source=Alliance&AllianceID=${alliance['AllianceID']}&EventID=${event['EventID']}',
                "bFilter": true,
                "aLengthMenu": [[5, 10, 15, 25, 50, 100, -1], [5, 10, 15, 25, 50, 100, "All"]],
                "iDisplayLength": ${alliancekeeper.CONFIG['DISPLAYLENGTH']},
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    $('td', nRow).eq(0).addClass('text-center');
                    return nRow;
                },
            });
        $('.dataTables_filter input').attr("placeholder", "Results Filter");
        //$(window).resize(function() {oTable.draw(false)});
        $('a.toggle-vis').click(function (e) {
            e.preventDefault();
            var column = oTable.column( $(this).attr('data-column') );
            column.visible( ! column.visible() );
        } );
    });
  </script>
    <script type="text/javascript">

    $(document).ready(function()
    {
        var oTable = $('#eventhistory_table').DataTable(
            {
                "order": [[ 1, 'asc' ]],
                "bAutoWidth": false,
                "stateSave": true,
                "columnDefs":[
                    { targets: 'no-sort', orderable: false },
                    { targets: [0], render: function(data, type, row) {
                        return data ;} },
                    { targets: [1,2,3,4,5,6,7,8,9,10], 'render': function(data, type, row) {if (data) { return statusblock2(data["Commit"], data["Points"], data["Percent"]);}}}
                    ],
                "oLanguage": {
                    "sSearch": "Filter: ",
                    "sLengthMenu":"_MENU_ rows per page",
                    "sEmptyTable": "No results found",
                    "sInfo":"Showing _START_ to _END_ of _TOTAL_ rows",
                    "sInfoEmpty":"Showing 0 to 0 of 0 rows",
                    "sInfoFiltered":"(filtered from _MAX_ total rows)"},
                "sPaginationType": "full_numbers",
                "aaSorting": [[1, 'asc']],
                "bServerSide": true,
                "sAjaxSource": 'getEventHistory?AllianceID=${alliance['AllianceID']}&EventType=${event['EventType']}',
                "bFilter": true,
                "aLengthMenu": [[5, 10, 15, 25, 50, 100, -1], [5, 10, 15, 25, 50, 100, "All"]],
                "iDisplayLength": ${alliancekeeper.CONFIG['DISPLAYLENGTH']},
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    return nRow;
                },
            });
        $('.dataTables_filter input').attr("placeholder", "Results Filter");
        //$(window).resize(function() {oTable.draw(false)});
        $('a.toggle-vis').click(function (e) {
            e.preventDefault();
            var column = oTable.column( $(this).attr('data-column') );
            column.visible( ! column.visible() );
        } );
    });


    function statusblock(score, commit) {
        var returnstring='<div class="progress">';
        var percent = Math.round((score/commit)*100);
        if (percent < 50) {
            var rclass = 'danger'
            var barwidth = 15;
        }
        else if (percent < 85) {
            var rclass = 'danger';
            var barwidth = percent;
        }
        else if ( percent < 95) {
            var rclass = 'warning';
            var barwidth = percent;
        }
        else if (percent < 120) {
            var rclass = 'info';
            if (percent < 100) {
                var barwidth = percent;
            }
            else {
                barwidth = 100;
            }
        }
        else {
            var rclass = 'success';
            barwidth = 100;
        }
        returnstring += '<div class="progress-bar progress-bar-' + rclass + '" style="width: ' + barwidth + '%;" aria-valuenow=""' + percent + '" aria-valuemin="0" aria-valuemax="100" >' + score + ' (' + percent + '%)</div>';

        returnstring += '</div>';
        return returnstring;
    }

    function statusblock2(score, commit, percent) {
        var returnstring = '<div class="progress">';
        percent = Math.round((percent) * 100);
        if (percent < 0) {
            var rclass = 'danger';
            var barwidth = 100;
            percent = "N/C"
        }
        else if (percent < 50) {
            var rclass = 'danger';
            var barwidth = 15;
        }
        else if (percent < 85) {
            var rclass = 'danger';
            var barwidth = percent;
        }
        else if ( percent < 95) {
            var rclass = 'warning';
            var barwidth = percent;
        }
        else if (percent < 120) {
            var rclass = 'info';
            if (percent < 100) {
                var barwidth = percent;
            }
            else {
                barwidth = 100;
            }
        }
        else {
            var rclass = 'success';
            barwidth = 100;
        }
        returnstring += '<div class="progress-bar progress-bar-' + rclass + '" style="width: ' + barwidth + '%;" aria-valuenow=""' + percent + '" aria-valuemin="0" aria-valuemax="100" >' + score + ' (' + percent + '%)</div>';

        returnstring += '</div>';
        return returnstring;
    }


    </script>
    <script type="text/javascript">
    $(document).ready(function()
    {
        var oTable = $('#eventplanning_table').DataTable(
            {
                "order": [[ 1, 'desc' ]],
                "bAutoWidth": false,
                "stateSave": true,
                "columnDefs":[
                    { targets: 'no-sort', orderable: false },
                    { targets: [0], 'render': function(data, type, row) {
                        return data ;} },
                    { targets: [1], 'render': function(data, type, row) {
                        return data ;} },
                    { targets: [2], 'render': function(data, type, row) {
                        return data ;} },
                    { targets: [3], 'render': function(data, type, row) {
                        return data ;} },
                    { targets: [4], 'render': function(data, type, row) {
                        return data ;} },
                    { targets: [5], 'render': function(data, type, row) {
                        return data ;} },
                    { targets: [6], 'render': function(data, type, row) {
                        return data ;} }
                    ],
                "oLanguage": {
                    "sSearch": "Filter: ",
                    "sLengthMenu":"_MENU_ rows per page",
                    "sEmptyTable": "No commitments found",
                    "sInfo":"Showing _START_ to _END_ of _TOTAL_ rows",
                    "sInfoEmpty":"Showing 0 to 0 of 0 rows",
                    "sInfoFiltered":"(filtered from _MAX_ total rows)"},
                "sPaginationType": "full_numbers",
                "aaSorting": [[1, 'desc']],
                "bServerSide": true,
                "sAjaxSource": 'getEventPlanning?source=Alliance&AllianceID=${alliance['AllianceID']}&EventID=${event['EventID']}',
                "bFilter": true,
                "aLengthMenu": [[5, 10, 15, 25, 50, 100, -1], [5, 10, 15, 25, 50, 100, "All"]],
                "iDisplayLength": ${alliancekeeper.CONFIG['DISPLAYLENGTH']},
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    $('td', nRow).eq(0).addClass('text-center');
                    %if not alliancekeeper.CONFIG['COMMIT_SHOWMOVE']:
                    $('td', nRow).eq(5).addClass('hidden');
                    %endif
                    return nRow;
                },
            });
        $('.dataTables_filter input').attr("placeholder", "Results Filter");
        //$(window).resize(function() {oTable.draw(false)});
        $('a.toggle-vis').click(function (e) {
            e.preventDefault();
            var column = oTable.column( $(this).attr('data-column') );
            column.visible( ! column.visible() );
        } );
    });

    </script>
    <script type="text/javascript">
    $(document).ready(function()
    {
        var oTable = $('#movementout_table').DataTable(
            {
                "order": [[ 1, 'desc' ]],
                "bAutoWidth": false,
                "stateSave": true,
                "columnDefs":[
                    { targets: 'no-sort', orderable: false },
                    { targets: [0], 'render': function(data, type, row) {
                        return data ;} },
                    { targets: [1], 'render': function(data, type, row) {
                        return data ;} },
                    { targets: [2], 'render': function(data, type, row) {
                        return data ;} },
                    { targets: [3], 'render': function(data, type, row) {
                        return data ;} }
                    ],
                "oLanguage": {
                    "sSearch": "Filter: ",
                    "sLengthMenu":"_MENU_ rows per page",
                    "sEmptyTable": "No movements found",
                    "sInfo":"Showing _START_ to _END_ of _TOTAL_ rows",
                    "sInfoEmpty":"Showing 0 to 0 of 0 rows",
                    "sInfoFiltered":"(filtered from _MAX_ total rows)"},
                "sPaginationType": "full_numbers",
                "aaSorting": [[1, 'desc']],
                "bServerSide": true,
                "sAjaxSource": 'getMovement?Type=Out&AllianceID=${alliance['AllianceID']}&EventID=${event['EventID']}',
                "bFilter": true,
                "aLengthMenu": [[5, 10, 15, 25, 50, 100, -1], [5, 10, 15, 25, 50, 100, "All"]],
                "iDisplayLength": ${alliancekeeper.CONFIG['DISPLAYLENGTH']},
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    $('td', nRow).eq(0).addClass('text-center');
                    return nRow;
                },
            });
        $('.dataTables_filter input').attr("placeholder", "Results Filter");
        //$(window).resize(function() {oTable.draw(false)});
        $('a.toggle-vis').click(function (e) {
            e.preventDefault();
            var column = oTable.column( $(this).attr('data-column') );
            column.visible( ! column.visible() );
        } );
    });

    </script>
    <script type="text/javascript">
    $(document).ready(function()
    {
        var oTable = $('#movementin_table').DataTable(
            {
                "order": [[ 1, 'desc' ]],
                "bAutoWidth": false,
                "stateSave": true,
                "columnDefs":[
                    { targets: 'no-sort', orderable: false },
                    { targets: [0], 'render': function(data, type, row) {
                        return data ;} },
                    { targets: [1], 'render': function(data, type, row) {
                        return data ;} },
                    { targets: [2], 'render': function(data, type, row) {
                        return data ;} },
                    { targets: [3], 'render': function(data, type, row) {
                        return data ;} }
                    ],
                "oLanguage": {
                    "sSearch": "Filter: ",
                    "sLengthMenu":"_MENU_ rows per page",
                    "sEmptyTable": "No movements found",
                    "sInfo":"Showing _START_ to _END_ of _TOTAL_ rows",
                    "sInfoEmpty":"Showing 0 to 0 of 0 rows",
                    "sInfoFiltered":"(filtered from _MAX_ total rows)"},
                "sPaginationType": "full_numbers",
                "aaSorting": [[1, 'desc']],
                "bServerSide": true,
                "sAjaxSource": 'getMovement?Type=In&AllianceID=${alliance['AllianceID']}&EventID=${event['EventID']}',
                "bFilter": true,
                "aLengthMenu": [[5, 10, 15, 25, 50, 100, -1], [5, 10, 15, 25, 50, 100, "All"]],
                "iDisplayLength": ${alliancekeeper.CONFIG['DISPLAYLENGTH']},
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    $('td', nRow).eq(0).addClass('text-center');
                    return nRow;
                },
            });
        $('.dataTables_filter input').attr("placeholder", "Results Filter");
        //$(window).resize(function() {oTable.draw(false)});
        $('a.toggle-vis').click(function (e) {
            e.preventDefault();
            var column = oTable.column( $(this).attr('data-column') );
            column.visible( ! column.visible() );
        } );
    });

    </script>

    <script type="text/javascript">
    $(document).ready(function()
    {
        var oTable = $('#eventroster_table').DataTable(
            {
                "order": [[ 1, 'desc' ]],
                "bAutoWidth": false,
                "stateSave": true,
                "columnDefs":[
                    { targets: 'no-sort', orderable: false },
                    { targets: [0], 'render': function(data, type, row) {
                        return data ;} },
                    { targets: [1], 'render': function(data, type, row) {
                        return data ;} },
                    { targets: [2], 'render': function(data, type, row) {
                        return data ;} },
                    { targets: [3], 'render': function(data, type, row) {
                        return data ;} },
                    { targets: [4], 'render': function(data, type, row) {
                        return data ;} },
                    { targets: [5], 'render': function(data, type, row) {
                        return data ;} },
                    { targets: [6], 'render': function(data, type, row) {
                        return data ;} }
                    ],
                "oLanguage": {
                    "sSearch": "Filter: ",
                    "sLengthMenu":"_MENU_ rows per page",
                    "sEmptyTable": "No commitments found",
                    "sInfo":"Showing _START_ to _END_ of _TOTAL_ rows",
                    "sInfoEmpty":"Showing 0 to 0 of 0 rows",
                    "sInfoFiltered":"(filtered from _MAX_ total rows)"},
                "sPaginationType": "full_numbers",
                "aaSorting": [[1, 'desc']],
                "bServerSide": true,
                "sAjaxSource": 'getEventRoster?source=Alliance&AllianceID=${alliance['AllianceID']}&EventID=${event['EventID']}',
                "bFilter": true,
                "aLengthMenu": [[5, 10, 15, 25, 50, 100, -1], [5, 10, 15, 25, 50, 100, "All"]],
                "iDisplayLength": ${alliancekeeper.CONFIG['DISPLAYLENGTH']},
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    $('td', nRow).eq(0).addClass('text-center');
                    return nRow;
                },
            });
        $('.dataTables_filter input').attr("placeholder", "Results Filter");
        //$(window).resize(function() {oTable.draw(false)});
        $('a.toggle-vis').click(function (e) {
            e.preventDefault();
            var column = oTable.column( $(this).attr('data-column') );
            column.visible( ! column.visible() );
        } );
    });

    </script>


</%def>
