<%inherit file="base.html"/>
<%!
    import alliancekeeper
    from alliancekeeper.dbactions import getUserPrefs
%>

<%def name="headerIncludes()">
    <div id="subhead_container">
        % if _session['access_level'] >= 1:
            <a href="allianceFunctions?AllianceID=${alliance['AllianceID']}&function=Refresh&redirect=Alliance" class="btn btn-sm btn-primary"><i class="fa fa-refresh"></i> Refresh Alliance</a>
            <a href="alliancePage?AllianceID=${alliance['AllianceID']}&cmd=Export" class="btn btn-sm btn-primary"><i class=""fa fa-download"></i> Export War History</a>
        % endif
        % if _session['access_level'] > 2:
            <a href="allianceFunctions?AllianceID=${alliance['AllianceID']}&function=Delete&redirect=Home" class="btn btn-sm btn-primary"><i class="fa fa-remove"></i> Remove Alliance</a>
        % endif
        % if _session['access_level'] > 0:
            <a href="editPlayer?PlayerID=-1&AllianceID=${alliance['AllianceID']}" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i> Add Player</a>
        % endif
        % if _session['access_level'] > 0:
            <a href="editWar?WarID=-1&AllianceID=${alliance['AllianceID']}" class="btn btn-sm btn-primary"><i class="fa fa-fighter-jet"></i> Add War</a>
        % endif

    </div>852+

<script type="text/javascript">
</script>
</%def>

<%def name="body()">
<%
    prefs = getUserPrefs(userid=_session['user_id'])
    if prefs['SHOW_BASE_INDEX'] == 1:
        showbaseindex = ""
    else:
        showbaseindex = " hidden"
    if prefs['SHOW_HEADQUARTERS'] == 1:
        showheadquarters = ""
    else:
        showheadquarters = " hidden"
    if prefs['SHOW_LEVEL'] == 1:
        showlevel = ""
    else:
        showlevel = " hidden"
    if prefs['SHOW_MSP'] == 1:
        showmsp = ""
    else:
        showmsp = " hidden"
%>
<div class="row">
    <ul class="breadcrumb">
        <li><a href="${alliancekeeper.CONFIG['HTTP_ROOT']}">Home</a></li>
        <li class="active">${alliance['AllianceName']}</li>
    </ul>
</div>
% if _session['access_level'] >= 1 and cmd == 'Export':
    <div id="device_import" class="panel panel-primary col-xs-12">
        <div class="panel-heading"><h3 class="panel-title">Export War History</h3></div>
        <div class="panel-body">
            <form action="downloadWarDetail" method="post">
                <div class="row">
                    <input type="hidden" id="AllianceID" name="AllianceID" value="${alliance['AllianceID']}"
                    <div class="col-md-1"><label for="start">Start:</label></div>
                    <div class="col-md-4"><input type="datetime-local" class="form-control" id="start" name="start"></div>
                    <div class="col-md-1"><label for="end">End:</label></div>
                    <div class="col-md-4"><input type="datetime-local" class="form-control" id="end" name="end"></div>
                    <div class="col-md-2"><button type="submit" value="Export" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="bottom" title="Export"><i class="fa fa-download"></i> Download CSV</button></div>
                </div>
            </form>
        </div>
    </div>
% endif
<div class="row">
    % if msg:
        <div class="alert alert-info" style="text-align: center; padding: 8px;">
            ${msg}
        </div>
    % endif
    <div id="alliancehead_container" class="col-md-12">
        <div id="alliancehead_menu" class="panel panel-primary">
            <div class="panel-heading">
                <h1 class="panel-title"><b>${alliance['AllianceName']}</b>
                % if _session['access_level'] >= 1:
                    <a class="panel-title" href="editAlliance?AllianceID=${alliance['AllianceID']}">
                    <small><i>Edit</i></small></a>
                % endif
                </h1>
                % if commander:
                Commander: ${commander['PlayerName']}
                % endif
            </div>

            <div class="panel-body">
                % if len(officers) > 0:
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Officers</h3>
                        </div>
                        <div class="panel-body">
                            % for officer in officers:
                            <div class="col-md-3">
                                <a href="playerPage?PlayerID=${officer['PlayerID']}">${officer['PlayerName']}</a>
                                % if _session['access_level'] >= 1:
                                    <a href="removeOfficer?AllianceID=${alliance['AllianceID']}&PlayerID=${officer['PlayerID']}"> <i class="fa fa-minus-square-o"></i></a>
                                % endif
                            </div>
                            % endfor
                        </div>
                    </div>
                % endif
                % if alliance['WarLeague']:
                    <p><b>War League:</b> ${alliance['WarLeague']}</p>
                % endif
                <p><b>Players:</b> ${alliance['PlayerCount']}</p>
                <p><b>Medals:</b> ${alliance['MedalCount']}</p>
            </div>
        </div>
    </div>
</div>
<div role="tab-table" class="hidden">
    <div>
        <ul class="nav nav-tabs" role="tablist" id="alliancetabs">
            <li role="presentation" id="1" aria-controls="players"><a role="tab" data-toggle="tab" aria-controls="players" href="#players" aria-expanded="true">Players</a></li>
            <li role="presentation" id="2" aria-controls="wars"><a role="tab" data-toggle="tab" aria-controls="wars" href="#wars">Wars</a></li>
            <li role="presentation" id="3" aria-controls="events"><a role="tab" data-toggle="tab" aria-controls="events" href="#events">Events</a></li>
            <li role="presentation" id="4" aria-controls="basegunindex"><a role="tab" data-toggle="tab" aria-controls="basegunindex" href="#basegunindex">Base/Gun Index</a></li>
            <li role="presentation" id="5" aria-controls="history"><a role="tab" data-toggle="tab" aria-controls="history" href="#history">History</a></li>
            <li role="presentation" id="6" aria-controls="warsummary"><a role="tab" data-toggle="tab" aria-controls="warsummary" href="#warsummary">War Summary</a></li>
            <li role="presentation" id="7" aria-controls="warstatistics"><a role="tab" data-toggle="tab" aria-controls="warstatistics" href="#warstatistics">War Statistics</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade active in" id="players">
                <div class="configtable">
                    <div class="row">
                        <form action="movePlayers" method="get" class="form-inline">
                            <div class="indented">
                                <input type="hidden" name="AllianceID" value="${alliance['AllianceID']}">
                                <input type="hidden" name="redirect" value="alliance">
                                <div class="form-group">
                                    <label for="action" class="">Selected action</label>
                                    <select class="movePlayers form-control input-sm" id="action" name="action">
                                        <option value="Transfer">Transfer</option>
                                        <option value="Retire">Retire</option>
                                        <option value="BlackList">BlackList</option>
                                        <option value="Commander">Make Commander</option>
                                        <option value="Officer">Make Officer</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="destination" class=""> To </label>
                                    <select class="movePlayers form-control input-sm" id="destination" name="destination">
                                        %for all in alliancelist:
                                        <%
                                        if int(all['AllianceID']) == int(alliance['AllianceID']):
                                            selected = 'selected="selected"'
                                        else:
                                            selected = ''
                                        %>
                                        <option value="${all['AllianceID']}" ${selected}>${all['AllianceName']}</option>
                                        %endfor
                                    </select>
                                </div>
                                <input type="submit" class="markPlayers btn btn-sm btn-primary" value="Go">
                                % if alliancekeeper.CONFIG['TOGGLES'] == True:
                                    &nbsp;&nbsp;Toggle:
                                    <a class="toggle-vis" data-column="2">Player Name</a> -
                                    <a class="toggle-vis" data-column="3">MedalCount</a> -
                                    <a class="toggle-vis" data-column="4">Level</a> -
                                    <a class="toggle-vis" data-column="5">Line Info</a> -
                                    <a class="toggle-vis" data-column="6">Gun Index</a> -
                                    <a class="toggle-vis" data-column="7">Event Count</a> -
                                    <a class="toggle-vis" data-column="8">War Count</a> -
                                    <a class="toggle-vis" data-column="9">War Average</a> -
                                    <a class="toggle-vis" data-column="10">Note</a>
                                    <p>&nbsp;</p>
                                % endif
                            </div>
                            <div class="table-responsive">
                                <table class="display table table-striped table-hover table-bordered" id="player_table">
                                    <thead>
                                    <tr>
                                        <th class="select text-center no-sort"><input type="checkbox" onClick="toggleAll(this)" /></th>
                                        <th class="alliancename hidden">Alliance</th>
                                        <th class="playername">Player Name</th>
                                        <th class="headquarters${showheadquarters}">Headquarters</th>
                                        <th class="medalcount">Medal Count</th>
                                        <th class="level hidden-xs${showlevel}">Level</th>
                                        <th class="maxsquad${showmsp}">Max Squad Power</th>
                                        <th class="lineid hidden-xs">Line ID</th>
                                        <th class="gunindex${showbaseindex}">Base/Gun Index</th>
                                        <th class="eventcount hidden-xs">Event Count</th>
                                        <th class="warcount hidden-xs">War Count</th>
                                        <th class="waraverage">War Average</th>
                                        <th class="note hidden-xs">Note</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </form>
                        <p>&nbsp;</p>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="wars">
                <div class="configtable">
                    <div class="row">
                        <form action="warActions" method="get" class="form-inline">
                            <div class="indented">
                                <div class="form-group">
                                    <label for="action" class="">Selected action</label>
                                    <select class="warActions form-control input-sm" id="warAction" name="warAction" onchange="warActionChange()">
                                        <option value="WarStats">War Analysis</option>
                                        <option value="ChangeLeague">Change War League</option>
                                    </select>
                                </div>
                                <div class="form-group" id="warClassDiv">
                                    <label for="action" class="">Class</label>
                                    <select class="warClass form-control input-sm" id="warClass" name="warClass">
                                        <option value="1">Junkion</option>
                                    </select>
                                </div>
                                <input type="submit" class="warActions btn btn-sm btn-primary" value="Go">
                            </div>
                            <div class="table-responsive">
                               <table class="display table table-striped table-hover table-bordered" id="war_table">
                                    <thead>
                                    <tr>
                                        <th class="select text-center no-sort"><input type="checkbox" onClick="toggleAll(this)" /></th>
                                        <th class="warstarttime">Start Time</th>
                                        <th class="alliancename hidden">Alliance</th>
                                        <th class="waropponent">Opponent</th>
                                        <th class="warleague">League</th>
                                        <th class="totalwarscore">Score</th>
                                        <th class="opponentwarscore">Opponent Score</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="events">
                <div class="configtable">
                    <div class="row">
                       <table class="display table table-striped table-hover table-bordered" id="event_table">
                            <thead>
                            <tr>
                                <th class="select text-center no-sort"><input type="checkbox" onClick="toggleAll(this)" /></th>
                                <th class="EventStartTime">Event Start Time</th>
                                <th class="eventname">Event Name</th>
                                <th class="eventtype">Event Type</th>
                                <th class="eventtotalscore">Alliance Score</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="basegunindex">
                <div class="configtable">
                    <div class="row">
                        <div class="table-responsive">
                            <table class="display table table-striped table-hover table-bordered" id="baseindex_table">
                                <thead>
                                <tr>
                                    <th class="IndexDate">Index Date</th>
                                    <th class="PlayerName">Player Name</th>
                                    <th class="HQLevel">HQ Level</th>
                                    <th class="BuildBits">Build Bots</th>
                                    <th class="MedalCount">Medals</th>
                                    <th class="PlayerLevel">Level</th>
                                    % for group in alliancekeeper.DEFENSES:
                                        <th class="${group['Class']}">${group['Label']}</th>
                                    % endfor
                                    <th class="Walls">Walls</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="history">
                <div class="configtable">
                    <div class="row">
                        <div class="table-responsive">
                            <table class="display table table-striped table-hover table-bordered" id="activity_table">
                                <thead>
                                <tr>
                                    <th class="timestamp">TimeStamp</th>
                                    <th class="activitydate">Activity Date</th>
                                    <th class="activitydesc">Activity</th>
                                    <th class="username">By</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="warsummary">
                <div class="configtable">
                    <div class="row">
                        <div class="table-responsive">
                            <table class="display table table-striped table-hover table-bordered" id="warsummary_table">
                                <thead>
                                <tr>
                                    <th class="player">Player</th>
                                    %for i in range(0,alliancekeeper.CONFIG['WAR_SUMMARY_COLUMNS']):
                                        <th class="war">War</th>
                                    %endfor
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="warstatistics">
                <div class="configtable">
                    <div class="row">
                        <div class="table-responsive">
                            <table class="display table table-striped table-hover table-bordered" id="warstatistics_table">
                                <thead>
                                <tr>
                                    <th class="date">Date</th>
                                    <th class="opponent">Opponent</th>
                                    <th class="league">League</th>
                                    <th class="participants">Participants</th>
                                    <th class="topscorers">Top Scorers</th>
                                    <th class="noshows">No Shows</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


    </div>
</div>


</%def>

<%def name="javascriptIncludes()">
<%
    prefs = getUserPrefs(userid=_session['user_id'])
%>
    <script type="text/javascript">
        function warActionChange() {
            var warAction = document.getElementById("warAction");
            var selectedWarAction = warAction.options[warAction.selectedIndex].value;
            var warClassDiv = document.getElementById("warClassDiv");
            if (selectedWarAction == "ChangeLeague") {
                warClassDiv.style.display = "inline";
            }
            else {
                warClassDiv.style.display = "none";
            }
        }
    function initThisPage()

    {
        "use strict";
        // when the page first loads, hide all tab headers and panels
        $("li[role='presentation']").attr("aria-selected", "false");
        $("li[role='presentation']").removeClass('active');
        $("div[role='tabpanel']").attr("aria-hidden", "true");
        $("div[role='tabpanel']").removeClass('active');
        // which one do we want to show
        var tabnum = 1;
        var tabid = $("#" + tabnum);
        var tabpanel = tabid.attr('aria-controls');
        var tabpanelid = $("#" + tabpanel);
        var warAction = document.getElementById("warAction");
        var selectedWarAction = warAction.options[warAction.selectedIndex].value;
        var warClassDiv = document.getElementById("warClassDiv");
        // show the tab header and panel we want
        tabpanelid.attr("aria-hidden", "false");
        tabpanelid.addClass('active');
        tabid.attr("aria-selected", "true");
        tabid.addClass('active');
        $("div[role='tab-table']").removeClass('hidden');

        // when a tab is clicked
        $("li[role='presentation']").click(function(){
            var tabnum = $(this).attr('id');    // store current tab for python
            $("#current_tab").val(tabnum);
        });

        if (selectedWarAction == "ChangeLeague") {
            warClassDiv.style.display = "inline";
        }
        else {
            warClassDiv.style.display = "none";
        }


    } // End Init

    $(document).ready(function() {
        initThisPage();
    });
  </script>
    <script type="text/javascript">
    $(document).ready(function()
    {
        var oTable = $('#player_table').DataTable(
            {
                "order": [[ 3, 'desc' ]],
                "bAutoWidth": false,
                "stateSave": true,
                "columnDefs":[
                    { targets: 'no-sort', orderable: false },
                    { targets: [0], 'render': function(data, type, row) {
                        return '<input type="checkbox" name="' + data + '" class="checkbox" />';} },
                    { targets: [1], class: "hidden" },
                    { targets: [2], 'render': function(data, type, row) {
                        return '<a href="playerPage?PlayerID=' + row[0] + '" target="_self">' + data + '</a> <a href="editPlayer?PlayerID=' + row[0] + '" target="_self"> <small><i>[Edit]</i></small></a>';} },\
                    { targets: [8], 'render': function(data, type, row) {
                        return percentBar(data);
                    } },
                    ],
                "oLanguage": {
                    "sSearch": "Filter: ",
                    "sLengthMenu":"_MENU_ rows per page",
                    "sEmptyTable": "No players found",
                    "sInfo":"Showing _START_ to _END_ of _TOTAL_ rows",
                    "sInfoEmpty":"Showing 0 to 0 of 0 rows",
                    "sInfoFiltered":"(filtered from _MAX_ total rows)"},
                "sPaginationType": "full_numbers",
                "aaSorting": [[3, 'desc']],
                "bServerSide": true,
                "sAjaxSource": 'getPlayers?source=Alliance&AllianceID=${alliance['AllianceID']}',
                "bFilter": true,
                "aLengthMenu": [[5, 10, 15, 25, 50, 100, -1], [5, 10, 15, 25, 50, 100, "All"]],
                "iDisplayLength": ${alliancekeeper.CONFIG['DISPLAYLENGTH']},
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    $('td', nRow).eq(0).addClass('text-center');
                    $('td', nRow).eq(4).addClass('text-center');
                    $('td', nRow).eq(5).addClass('text-center');
                    $('td', nRow).eq(6).addClass('text-center');
                    $('td', nRow).eq(9).addClass('text-center');
                    $('td', nRow).eq(10).addClass('text-center');
                    $('td', nRow).eq(11).addClass('text-center');
                    // hide cover,stars,date on small devices
                    $('td', nRow).eq(5).addClass('hidden-xs');
                    $('td', nRow).eq(7).addClass('hidden-xs');
                    $('td', nRow).eq(9).addClass('hidden-xs');
                    $('td', nRow).eq(10).addClass('hidden-xs');
                    $('td', nRow).eq(12).addClass('hidden-xs');
                    % if prefs['SHOW_BASE_INDEX'] == 0:
                        $('td', nRow).eq(8).addClass('hidden');
                    % endif
                    % if prefs['SHOW_HEADQUARTERS'] == 0:
                        $('td', nRow).eq(3).addClass('hidden');
                    % endif
                    % if prefs['SHOW_MSP'] == 0:
                        $('td', nRow).eq(6).addClass('hidden');
                    % endif
                    % if prefs['SHOW_LEVEL'] == 0:
                        $('td', nRow).eq(5).addClass('hidden');
                    % endif

                    return nRow;
                },
            });
        $('.dataTables_filter input').attr("placeholder", "Results Filter");
        //$(window).resize(function() {oTable.draw(false)});
        $('a.toggle-vis').click(function (e) {
            e.preventDefault();
            var column = oTable.column( $(this).attr('data-column') );
            column.visible( ! column.visible() );
        } );
    });

    </script>
    <script type="text/javascript">
    $(document).ready(function()
    {
        var oTable = $('#activity_table').DataTable(
            {
                "order": [[ 0, 'desc' ]],
                "bAutoWidth": false,
                "stateSave": true,
                "columnDefs":[
                    { targets: 'no-sort', orderable: false },
                    { targets: [0], 'render': function(data, type, row) {
                        return data ;} },
                    { targets: [1], 'render': function(data, type, row) {
                        return data ;} },
                    { targets: [2], 'render': function(data, type, row) {
                        return data ;} },
                    { targets: [3], 'render': function(data, type, row) {
                        return data ;} }
                    ],
                "oLanguage": {
                    "sSearch": "Filter: ",
                    "sLengthMenu":"_MENU_ rows per page",
                    "sEmptyTable": "No history found",
                    "sInfo":"Showing _START_ to _END_ of _TOTAL_ rows",
                    "sInfoEmpty":"Showing 0 to 0 of 0 rows",
                    "sInfoFiltered":"(filtered from _MAX_ total rows)"},
                "sPaginationType": "full_numbers",
                "aaSorting": [[0, 'desc']],
                "bServerSide": true,
                "sAjaxSource": 'getActivity?source=Alliance&AllianceID=${alliance['AllianceID']}',
                "bFilter": true,
                "aLengthMenu": [[5, 10, 15, 25, 50, 100, -1], [5, 10, 15, 25, 50, 100, "All"]],
                "iDisplayLength": ${alliancekeeper.CONFIG['DISPLAYLENGTH']},
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    $('td', nRow).eq(0).addClass('text-center');
                    return nRow;
                },
            });
        $('.dataTables_filter input').attr("placeholder", "Results Filter");
        //$(window).resize(function() {oTable.draw(false)});
        $('a.toggle-vis').click(function (e) {
            e.preventDefault();
            var column = oTable.column( $(this).attr('data-column') );
            column.visible( ! column.visible() );
        } );
    });

    </script>
  <script type="text/javascript">
    $(document).ready(function()
    {
        var oTable = $('#event_table').DataTable(
            {
                "order": [[ 1, 'desc' ]],
                "bAutoWidth": false,
                "stateSave": true,
                "columnDefs":[
                    { targets: 'no-sort', orderable: false },
                    { targets: [0], 'render': function(data, type, row) {
                        return '<input type="checkbox" name="' + data + '" class="checkbox" />';} },
                    { targets: [2], 'render': function(data, type, row) {
                        return '<a href="allianceEventPage?EventID=' + row[0] + '&AllianceID=${alliance['AllianceID']}#results" target="_self">' + data + '</a>';} }
                    ],
                "oLanguage": {
                    "sSearch": "Filter: ",
                    "sLengthMenu":"_MENU_ rows per page",
                    "sEmptyTable": "No events found",
                    "sInfo":"Showing _START_ to _END_ of _TOTAL_ rows",
                    "sInfoEmpty":"Showing 0 to 0 of 0 rows",
                    "sInfoFiltered":"(filtered from _MAX_ total rows)"},
                "sPaginationType": "full_numbers",
                "aaSorting": [[1, 'desc']],
                "bServerSide": true,
                "sAjaxSource": 'getEvents?source=Alliance&AllianceID=${alliance['AllianceID']}',
                "bFilter": true,
                "aLengthMenu": [[5, 10, 15, 25, 50, 100, -1], [5, 10, 15, 25, 50, 100, "All"]],
                "iDisplayLength": ${alliancekeeper.CONFIG['DISPLAYLENGTH']},
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    $('td', nRow).eq(0).addClass('text-center');
                    // hide cover,stars,date on small devices
                    return nRow;
                },
            });
        $('.dataTables_filter input').attr("placeholder", "Results Filter");
        //$(window).resize(function() {oTable.draw(false)});
        $('a.toggle-vis').click(function (e) {
            e.preventDefault();
            var column = oTable.column( $(this).attr('data-column') );
            column.visible( ! column.visible() );
        } );
    });
  </script>
  <script type="text/javascript">
    $(document).ready(function()
    {
        var oTable = $('#warsummary_table').DataTable(
            {
                "order": [[ 0, 'asc' ]],
                "bAutoWidth": false,
                "stateSave": true,
                "columnDefs":[
                    { targets: 'no-sort', orderable: false },
                    ],
                "oLanguage": {
                    "sSearch": "Filter: ",
                    "sLengthMenu":"_MENU_ rows per page",
                    "sEmptyTable": "No players found",
                    "sInfo":"Showing _START_ to _END_ of _TOTAL_ rows",
                    "sInfoEmpty":"Showing 0 to 0 of 0 rows",
                    "sInfoFiltered":"(filtered from _MAX_ total rows)"},
                "sPaginationType": "full_numbers",
                "aaSorting": [[0, 'asc']],
                "bServerSide": true,
                "sAjaxSource": 'getWarSummary?AllianceID=${alliance['AllianceID']}',
                "bFilter": true,
                "aLengthMenu": [[5, 10, 15, 25, 50, 100, -1], [5, 10, 15, 25, 50, 100, "All"]],
                "iDisplayLength": ${alliancekeeper.CONFIG['DISPLAYLENGTH']},
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    $('td', nRow).eq(0).addClass('text-center');
                    return nRow;
                },
            });
        $('.dataTables_filter input').attr("placeholder", "Results Filter");
        //$(window).resize(function() {oTable.draw(false)});
        $('a.toggle-vis').click(function (e) {
            e.preventDefault();
            var column = oTable.column( $(this).attr('data-column') );
            column.visible( ! column.visible() );
        } );
    });
  </script>
  <script type="text/javascript">
    $(document).ready(function()
    {
        var oTable = $('#war_table').DataTable(
            {
                "order": [[ 1, 'desc' ]],
                "bAutoWidth": false,
                "stateSave": true,
                "columnDefs":[
                    { targets: 'no-sort', orderable: false },
                    { targets: [0], 'render': function(data, type, row) {
                        return '<input type="checkbox" name="' + data + '" class="checkbox" />';} },
                    { targets: [1], 'render': function(data, type, row) {
                        return '<a href="warPage?WarID=' + row[0] + '" target="_self">' + data + '</a>';} },
                    { targets: [2], class: "hidden" }
                    ],
                "oLanguage": {
                    "sSearch": "Filter: ",
                    "sLengthMenu":"_MENU_ rows per page",
                    "sEmptyTable": "No wars found",
                    "sInfo":"Showing _START_ to _END_ of _TOTAL_ rows",
                    "sInfoEmpty":"Showing 0 to 0 of 0 rows",
                    "sInfoFiltered":"(filtered from _MAX_ total rows)"},
                "sPaginationType": "full_numbers",
                "aaSorting": [[1, 'desc']],
                "bServerSide": true,
                "sAjaxSource": 'getWars?source=Alliance&AllianceID=${alliance['AllianceID']}',
                "bFilter": true,
                "aLengthMenu": [[5, 10, 15, 25, 50, 100, -1], [5, 10, 15, 25, 50, 100, "All"]],
                "iDisplayLength": ${alliancekeeper.CONFIG['DISPLAYLENGTH']},
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    $('td', nRow).eq(0).addClass('text-center');
                    $('td', nRow).eq(6).addClass('text-center');
                    $('td', nRow).eq(7).addClass('text-center');
                    $('td', nRow).eq(8).addClass('text-center');
                    return nRow;
                },
            });
        $('.dataTables_filter input').attr("placeholder", "Results Filter");
        //$(window).resize(function() {oTable.draw(false)});
        $('a.toggle-vis').click(function (e) {
            e.preventDefault();
            var column = oTable.column( $(this).attr('data-column') );
            column.visible( ! column.visible() );
        } );
    });
  </script>

  <script type="text/javascript">
    $(document).ready(function()
    {
        var oTable = $('#warstatistics_table').DataTable(
            {
                "order": [[ 0, 'desc' ]],
                "bAutoWidth": false,
                "stateSave": true,
                "columnDefs":[
                    { targets: 'no-sort', orderable: false },
                    { targets: [0], 'render': function(data, type, row) {
                        return '<a href="warPage?WarID=' + row[6] + '" target="_self">' + data + '</a>';} },
                    ],
                "oLanguage": {
                    "sSearch": "Filter: ",
                    "sLengthMenu":"_MENU_ rows per page",
                    "sEmptyTable": "No wars found",
                    "sInfo":"Showing _START_ to _END_ of _TOTAL_ rows",
                    "sInfoEmpty":"Showing 0 to 0 of 0 rows",
                    "sInfoFiltered":"(filtered from _MAX_ total rows)"},
                "sPaginationType": "full_numbers",
                "aaSorting": [[0, 'desc']],
                "bServerSide": true,
                "sAjaxSource": 'getWarStatistics?AllianceID=${alliance['AllianceID']}',
                "bFilter": true,
                "aLengthMenu": [[5, 10, 15, 25, 50, 100, -1], [5, 10, 15, 25, 50, 100, "All"]],
                "iDisplayLength": ${alliancekeeper.CONFIG['DISPLAYLENGTH']},
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    $('td', nRow).eq(0).addClass('text-center');
                    $('td', nRow).eq(6).addClass('text-center');
                    $('td', nRow).eq(7).addClass('text-center');
                    $('td', nRow).eq(8).addClass('text-center');
                    return nRow;
                },
            });
        $('.dataTables_filter input').attr("placeholder", "Results Filter");
        //$(window).resize(function() {oTable.draw(false)});
        $('a.toggle-vis').click(function (e) {
            e.preventDefault();
            var column = oTable.column( $(this).attr('data-column') );
            column.visible( ! column.visible() );
        } );
    });
  </script>

    <script type="text/javascript">
    $(document).ready(function()
    {
        var oTable = $('#baseindex_table').DataTable(
            {
                "order": [[ 0, 'desc' ]],
                "bAutoWidth": false,
                "stateSave": true,
                "columnDefs":[
                    {targets: [1], 'render': function(data, type, row) {return '<a href="playerPage?PlayerID='+ row[14] + '">' + data + '</a>';}},
                    {targets: [6],'render': function(data, type, row) {return indexBar(data);}},
                    {targets: [7],'render': function(data, type, row) {return indexBar(data);}},
                    {targets: [8],'render': function(data, type, row) {return indexBar(data);}},
                    {targets: [9],'render': function(data, type, row) {return indexBar(data);}},
                    {targets: [10],'render': function(data, type, row) {return indexBar(data);}},
                    {targets: [11],'render': function(data, type, row) {return indexBar(data);}},
                    {targets: [12],'render': function(data, type, row) {return indexBar(data);}},
                    {targets: [13], 'width': '15%', 'render': function(data, type, row) {return wallBar(data);}},
                    ],
                "oLanguage": {
                    "sSearch": "Filter: ",
                    "sLengthMenu":"_MENU_ rows per page",
                    "sEmptyTable": "No indexes found",
                    "sInfo":"Showing _START_ to _END_ of _TOTAL_ rows",
                    "sInfoEmpty":"Showing 0 to 0 of 0 rows",
                    "sInfoFiltered":"(filtered from _MAX_ total rows)"},
                "sPaginationType": "full_numbers",
                "aaSorting": [[0, 'desc']],
                "bServerSide": true,
                "sAjaxSource": 'getBaseIndex?source=Alliance&AllianceID=${alliance['AllianceID']}',
                "bFilter": true,
                "aLengthMenu": [[5, 10, 15, 25, 50, 100, -1], [5, 10, 15, 25, 50, 100, "All"]],
                "iDisplayLength": ${alliancekeeper.CONFIG['DISPLAYLENGTH']},
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    $('td', nRow).eq(0).addClass('text-center');
                    return nRow;
                },
            });
        $('.dataTables_filter input').attr("placeholder", "Results Filter");
        //$(window).resize(function() {oTable.draw(false)});
        $('a.toggle-vis').click(function (e) {
            e.preventDefault();
            var column = oTable.column( $(this).attr('data-column') );
            column.visible( ! column.visible() );
        } );
    });

    function indexBar(data) {
        var returnstring='<div class="progress">';
        for (var i = 0; i < data['Count']; i++) {
            var rclass = 'success';
            if (data['Defenses'][i]['Behind'] == 1) {
                rclass = 'warning';
            }
            else if (data['Defenses'][i]['Behind'] >= 2) {
                rclass='danger';
            }
            returnstring += '<div class="progress-bar progress-bar-' + rclass + '" style="width: ' + 100/data['Count'] + '%">' + data['Defenses'][i]['Level'] + '</div>';
        }
        returnstring += '</div>';
        return returnstring;
    }

    function wallBar(data) {
        var returnstring='<div class="progress">';
        for (var i = 0; i < data['WallLevels']; i++) {
            var rclass = 'success';
            if (data['Walls'][i]['Behind'] == 1) {
                rclass = 'warning';
            }
            else if (data['Walls'][i]['Behind'] >= 2) {
                rclass='danger';
            }
            var percent = (data['Walls'][i]['Count']/data['TotalWalls'])*100
            returnstring += '<div class="progress-bar progress-bar-' + rclass + '" style="width: ' + percent + '%">' + data['Walls'][i]['Level'] + '</div>';
        }
        returnstring += '</div>';
        return returnstring;
    }

        function percentBar(data) {
        var returnstring='<div class="progress">';
        var rclass = 'success';
        if (data < 85) {
            rclass = 'warning';
        }
        else if (data < 70) {
            rclass='danger';
        }
        returnstring += '<div class="progress-bar progress-bar-' + rclass + '" style="width: ' + data + '%">' + data + '%</div>';
        returnstring += '</div>';
        return returnstring;
    }


    </script>

</%def>
