<%!
    import alliancekeeper

%>

% if _session['theme']:
<%
    theme = _session['theme']
%>
% else:
<%
    theme=alliancekeeper.CONFIG['BOOTSTRAP_THEME']
%>
% endif

% if alliancekeeper.CONFIG['FAMILY_NAME'] != '':
  <%
    familyname = "%s AllianceKeeper" % alliancekeeper.CONFIG['FAMILY_NAME']
  %>
% else:
  <%
    familyname = "AllianceKeeper"
  %>
% endif
<!doctype html>
<html>
  <head>

    <meta charset="UTF-8" http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>${familyname} - ${title}</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/png"  href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/ll.png">
    <!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/s/bs-3.3.7/jqc-1.11.3,dt-1.10.10,b-1.1.0/datatables.min.css"/> -->
      <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/${theme}/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/bootstrap.css?v=1" rel="stylesheet">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png"/>
    <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon.png"/>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-1.3.0.min.js"></script>
    <script type="text/javascript" src="js/alliancekeeper-bs.js?v=2"></script>
    ${next.headIncludes()}
    <script type="text/javascript">
      // Allow the user to reset the filter box
      $(document).ready(function () {
          $.fn.dataTableExt.oApi.clearSearch = function ( oSettings ) {
              var table = this;
              var clearSearch = $('<i class="fa fa-remove" style="cursor:pointer;width:16px;text-align:left;" title="Reset Filter"></i>');

              $(clearSearch).click( function ()
                      {
                              table.fnFilter('');
                              $('input[type=search]').val('');
                      });
              $(oSettings.nTableWrapper).find('div.dataTables_filter').append(clearSearch);
              $(oSettings.nTableWrapper).find('div.dataTables_filter label').css('margin-right', '-16px');//16px the image width
              $(oSettings.nTableWrapper).find('div.dataTables_filter input').css('padding-right', '16px');
          }

          //auto-execute, no code needs to be added
          $.fn.dataTable.models.oSettings['aoInitComplete'].push( {
              "fn": $.fn.dataTableExt.oApi.clearSearch,
              "sName": 'whatever'
          });
      });
    </script>
    ${next.javascriptIncludes()}
    <script type="text/javascript">
      // Check or uncheck all checkboxes in the same table
      function toggleAll(e) {
          var table = $(e).closest('table');
          $('td input:checkbox', table).prop('checked', e.checked);
      }
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--    <script type="text/javascript" src="https://cdn.datatables.net/s/bs-3.3.5/jqc-1.11.3,dt-1.10.10,b-1.1.0/datatables.min.js"></script> -->
      <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
      <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script src="js/natural.js"></script>
    <script src="js/bootbox.min.js"></script>
    <script src="js/bootstrap-notify.min.js"></script>
  </head>
  <body>
    <div id="container">
      <header>
        <div id="headercontainer" class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#MainNav" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="home"><i class="fa fa-home"></i> ${familyname}</a>
            </div>
            <div class="collapse navbar-collapse" id="MainNav">
              <ul class="nav navbar-nav">
                <li><a href="${alliancekeeper.CONFIG['HTTP_ROOT']}home" class="navbarele">Home</a></li>
                <li><a href="${alliancekeeper.CONFIG['HTTP_ROOT']}players" class="navbarele">Players</a></li>
                <li><a href="${alliancekeeper.CONFIG['HTTP_ROOT']}events" class="navbarele">Events</a></li>
                <li><a href="${alliancekeeper.CONFIG['HTTP_ROOT']}wars" class="navbarele">Wars</a></li>
                <li><a href="${alliancekeeper.CONFIG['HTTP_ROOT']}baseindex" class="navbarele">Base/Gun Index</a></li>
                % if _session['access_level'] >= 2:
                  <li><a href="${alliancekeeper.CONFIG['HTTP_ROOT']}users" class="navbarele">Users</a></li>
                % endif
                % if _session and _session['access_level'] >= 3:
                  <li><a href="${alliancekeeper.CONFIG['HTTP_ROOT']}logs" class="navbarele">Logs</a></li>
                  <li><a href="${alliancekeeper.CONFIG['HTTP_ROOT']}config" class="navbarcfg">Config</a></li>
                % endif

              </ul>
              % if _session['user_id'] != -1 and _session['user_id'] != None:
                  <ul class="nav navbar-nav navbar-right">
                      <li class="dropdown">
                          <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="usermenu">Hello, ${_session['user']}! <span class="caret"></span></a>
                          <ul class="dropdown-menu" aria-labelledby="usermenu">
                              % if _session['user_id'] != -2:
                                <li><a href="${alliancekeeper.CONFIG['HTTP_ROOT']}editUser?UserID=${_session['user_id']}">Preferences</a></li>
                              % endif
                              <li><a href="${alliancekeeper.CONFIG['HTTP_ROOT']}auth/logout" class="navbarele">Logout</a></li>
                              <li class="divider"></li>
                          </ul>
                      </li>
                  </ul>
              % endif
            </div>
          </div>
          <div id="subnav" class="navbar-inverse">
            <div id="subhead" class="container">
              ${next.headerIncludes()}
            </div>
          </div>
        </div>
      </header>
      <div id="main" class="main container">
        ${next.body()}
      </div>
    </div>
      <script type="text/javascript">
      msg = '';
      % if alliancekeeper.CONFIG['INSTALL_TYPE'] == 'git':
          title = 'AllianceKeeper Update'
          % if not alliancekeeper.CONFIG['CURRENT_VERSION']:
              msg = '<div class="input-group">You are running an unknown version of AllianceKeeper.</div><a href="update" class="btn btn-xs btn-primary pull-right">Update</a>'
          % elif (alliancekeeper.CONFIG['INSTALL_TYPE'] == 'source' and alliancekeeper.CONFIG['CURRENT_VERSION'] == 'No Version File' ):
              msg = '<div class="input-group">Running Unknown version via source install. Update from central area now</div><a href="update" class="btn btn-xs btn-primary pull-right">Update</a>
          % elif alliancekeeper.CONFIG['CURRENT_VERSION'] != alliancekeeper.CONFIG['LATEST_VERSION']:
              % if alliancekeeper.CONFIG['LATEST_VERSION'] == 'Not_Available_From_GitHUB':
                  msg = '<div class="input-group">Unable to get latest version from GITHub</div>'
              % elif alliancekeeper.CONFIG['COMMITS_BEHIND'] < 0:
                  msg = '<div class="input-group">Running a local updated version. Push changes to GITHub or rollback to Master release</div>'
              % elif alliancekeeper.CONFIG['COMMITS_BEHIND'] > 1:
                  msg = '<div class="input-group">New version available. You are ${alliancekeeper.CONFIG['COMMITS_BEHIND']} commits behind.</div><div class="pull-right"><a href="#" class="btn btn-xs btn-primary" data-toggle="tooltip" title="Ignore the update message for 24 hours" id="ignoreUpdate">Ignore</a>&nbsp;<a href="update" class="btn btn-xs btn-primary" data-toggle="tooltip" title="Update to the latest release">Update</a></div>'
              % elif alliancekeeper.CONFIG['COMMITS_BEHIND'] == 1:
                  msg = '<div class="input-group">New version available. You are one commit behind.</div><div class="pull-right"><a href="#" class="btn btn-xs btn-primary" data-toggle="tooltip" title="Ignore the update message for 24 hours" id="ignoreUpdate">Ignore</a>&nbsp;<a href="update" class="btn btn-xs btn-primary" data-toggle="tooltip" title="Update to the latest release">Update</a></div>'
              % endif
          % endif
      % endif

      $(document).ready(function() {
      if (readCookie('ignoreUpdate') != null) { msg = '' }

      if (msg != '') {
        $.notify({
            icon: "images/ak48.png",
            title: '<strong>'+title+'</strong>',
            message: msg
        },{
            icon_type: 'image'
        },{
              type: 'warning'
          });
      }

      $('#ignoreUpdate').click(function() {
          createCookie("ignoreUpdate", true, 1);
      });
      });

      // Initialise tooltips
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })


      function createCookie(name, value, days) {
      var expires;

      if (days) {
          var date = new Date();
          date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
          expires = "; expires=" + date.toGMTString();
      } else {
          expires = "";
      }
      document.cookie = encodeURIComponent(name) + "=" + encodeURIComponent(value) + expires + "; path=/";
      }

      function readCookie(name) {
      var nameEQ = encodeURIComponent(name) + "=";
      var ca = document.cookie.split(';');
      for (var i = 0; i < ca.length; i++) {
          var c = ca[i];
          while (c.charAt(0) === ' ') c = c.substring(1, c.length);
          if (c.indexOf(nameEQ) === 0) return decodeURIComponent(c.substring(nameEQ.length, c.length));
      }
      return null;
      }

      function eraseCookie(name) {
      createCookie(name, "", -1);
      }
    </script>


  </body>
</html>
<%def name="javascriptIncludes()"></%def>
<%def name="headIncludes()"></%def>
<%def name="headerIncludes()"></%def>