<%inherit file="base.html"/>
<%!
    import alliancekeeper
%>
<%def name="headerIncludes()">
<div id="subhead_container" class="row">
        <div id="subhead_menu"  class="col-xs-12 col-md-8">
        </div>
</div>
</%def>
<%def name="body()">
<div class="row">
    <ul class="breadcrumb">
        <li><a href="${alliancekeeper.CONFIG['HTTP_ROOT']}">Home</a></li>
        <li class="active">Base/Gun Index</li>
    </ul>
</div>
<div class="table-responsive">
    <table class="display table table-striped table-hover table-bordered" id="baseindex_table">
        <thead>
        <tr>
            <th class="IndexDate">Index Date</th>
            <th class="PlayerName">Player Name</th>
            <th class="AllianceName">Alliance</th>
            <th class="HQLevel">HQ Level</th>
            <th class="BuildBits">Build Bots</th>
            <th class="MedalCount">Medals</th>
            <th class="PlayerLevel">Level</th>
            % for group in alliancekeeper.DEFENSES:
                <th class="${group['Class']}">${group['Label']}</th>
            % endfor
            <th class="Walls">Walls</th>
        </tr>
        </thead>
    </table>
</div>

<h1>${title}</h1>
</%def>
<%def name="javascriptIncludes()">
    <script type="text/javascript">
    $(document).ready(function()
    {
        var oTable = $('#baseindex_table').DataTable(
            {
                "order": [[ 0, 'desc' ]],
                "bAutoWidth": false,
                "stateSave": true,
                "columnDefs":[
                    {targets: [1], 'render': function(data, type, row) {return '<a href="playerPage?PlayerID='+ row[15] + '">' + data + '</a>';}},
                    {targets: [2], 'render': function(data, type, row) {return '<a href="alliancePage?AllianceID='+ row[16] + '">' + data + '</a>';}},
                    {targets: [7],'render': function(data, type, row) {return indexBar(data);}},
                    {targets: [8],'render': function(data, type, row) {return indexBar(data);}},
                    {targets: [9],'render': function(data, type, row) {return indexBar(data);}},
                    {targets: [10],'render': function(data, type, row) {return indexBar(data);}},
                    {targets: [11],'render': function(data, type, row) {return indexBar(data);}},
                    {targets: [12],'render': function(data, type, row) {return indexBar(data);}},
                    {targets: [13],'render': function(data, type, row) {return indexBar(data);}},
                    {targets: [14], 'width': '15%', 'render': function(data, type, row) {return wallBar(data);}},
                    ],
                "oLanguage": {
                    "sSearch": "Filter: ",
                    "sLengthMenu":"_MENU_ rows per page",
                    "sEmptyTable": "No indexes found",
                    "sInfo":"Showing _START_ to _END_ of _TOTAL_ rows",
                    "sInfoEmpty":"Showing 0 to 0 of 0 rows",
                    "sInfoFiltered":"(filtered from _MAX_ total rows)"},
                "sPaginationType": "full_numbers",
                "aaSorting": [[0, 'desc']],
                "bServerSide": true,
                "sAjaxSource": 'getBaseIndex?source=All',
                "bFilter": true,
                "aLengthMenu": [[5, 10, 15, 25, 50, 100, -1], [5, 10, 15, 25, 50, 100, "All"]],
                "iDisplayLength": ${alliancekeeper.CONFIG['DISPLAYLENGTH']},
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    $('td', nRow).eq(0).addClass('text-center');
                    return nRow;
                },
            });
        $('.dataTables_filter input').attr("placeholder", "Results Filter");
        //$(window).resize(function() {oTable.draw(false)});
        $('a.toggle-vis').click(function (e) {
            e.preventDefault();
            var column = oTable.column( $(this).attr('data-column') );
            column.visible( ! column.visible() );
        } );
    });

    function indexBar(data) {
        var returnstring='<div class="progress">';
        for (var i = 0; i < data['Count']; i++) {
            var rclass = 'success';
            if (data['Defenses'][i]['Behind'] == 1) {
                rclass = 'warning';
            }
            else if (data['Defenses'][i]['Behind'] >= 2) {
                rclass='danger';
            }
            returnstring += '<div class="progress-bar progress-bar-' + rclass + '" style="width: ' + 100/data['Count'] + '%">' + data['Defenses'][i]['Level'] + '</div>';
        }
        returnstring += '</div>';
        return returnstring;
    }

    function wallBar(data) {
        var returnstring='<div class="progress">';
        for (var i = 0; i < data['WallLevels']; i++) {
            var rclass = 'success';
            if (data['Walls'][i]['Behind'] == 1) {
                rclass = 'warning';
            }
            else if (data['Walls'][i]['Behind'] >= 2) {
                rclass='danger';
            }
            var percent = (data['Walls'][i]['Count']/data['TotalWalls'])*100
            returnstring += '<div class="progress-bar progress-bar-' + rclass + '" style="width: ' + percent + '%">' + data['Walls'][i]['Level'] + '</div>';
        }
        returnstring += '</div>';
        return returnstring;
    }

    </script>

</%def>
