<%inherit file="base.html"/>
<%!
    import alliancekeeper
%>
<%def name="headerIncludes()">
    <div id="subhead_container">
        <div id="subhead_menu">
        </div>
    </div>
</%def>
<%def name="body()">
<form action="commitmentUpdate" method="post">
    <div class="configtable">
        % if msg:
        <div class="alert alert-danger" style="text-align: center; padding: 8px;">
            ${msg}
        </div>
        % endif
        <fieldset>
            <legend>${title}</legend>
            <div class="form-group">
                <input type="text" id="eventid" name="eventid" value="${event['EventID']}" class="hidden">
            </div>
            <div class="form-group">
                <input type="text" id="planid" name="planid" value="${PlanID}" class="hidden">
            </div>
            <div class="row">
                <div class="form-group col-xs-12">
                    For your best shot to place at a certain tier, you need to commit at least the following:
                    <br>Top 100: 30000
                    <br>Top 200: 18000
                    <br>Top 300: 15000
                    <br>Top 400: 12000
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 form-group">
                    NOTE:  While we will try to accommodate as many players as possible, we cannot guarantee a place for
                    late submissions.  Submitting this commitment before the cutoff date is the only way to secure event placement.
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-12">
                    <label for="playerandalliance" class="col-lg-12 control-label">Select Your Player Name:</label>
                    <select id="playerandalliance" name="playerandalliance" class="form-control" autofocus>
                        % for player in playerlist:
                        <%
                        if str(playerandalliance) == str(player['playerandalliance']):
                            selected = 'selected="Selected"'
                        else:
                            selected = ''
                        %>
                        <option value="${player['playerandalliance']}" ${selected}>${player['PlayerName']}</option>
                        % endfor
                    </select>
<!--
                    <div class="form-group">
                        <input type="checkbox" name="confirmplayerupdate" id="confirmplayerupdate"> <small>Check this if you have already filled out this form, and are changing your commitment.</small>
                    </div>
-->
                <input type="hidden" id="confirmplayerupdate" name="confirmplayerupdate" value="on">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-12">
                    <label for="commitment" class="col-lg-12 control-label">Select your MINIMUM commitment.  This represents the promise you make to your Alliance, showing what score you will meet or exceed.</label>
                    <select id="commitment" name="commitment" class="form-control">
                        % for i in xrange(51):
                            <%
                                amount = i * 1000
                            %>
                            <option value="${amount}">${amount}</option>
                        % endfor
                    </select>
                </div>
            </div>
            <div class="row">
<!--
                <div class="form-group col-xs-8">
                    <div class="form group col-xs-12">
                        <label class="col-lg-12 control-label">Can Meet Daily Minimums (Placeholder Text):</label>
                    </div>
                    <div class="form-group col-xs-4 text-center">
                        <input type="Checkbox" id="availfriday" name="availfriday" class="form-control" checked="checked"><br>Friday
                    </div>
                    <div class="form-group col-xs-4 text-center">
                        <input type="Checkbox" id="availsaturday" name="availsaturday" class="form-control" checked="checked"><br>Saturday
                    </div>
                    <div class="form-group col-xs-4 text-center">
                        <input type="Checkbox" id="availsunday" name="availsunday" class="form-control" checked="checked"><br>Sunday
                    </div>
                </div>
-->
                % if alliancekeeper.CONFIG['COMMIT_SHOWMOVE']:
                    <div class="form-group col-xs-4">
                        <div class="form group col-xs-12">
                            <label class="col-lg-12 control-label">Willing to Move:</label>
                        </div>
                        <div class="form-group col-xs-12">
                            <input type="Checkbox" id="willingtomove" name="willingtomove" class="form-control" checked="checked">&nbsp
                        </div>

                    </div>
                % endif
            </div>


            <div class="row">
                <div class="form-group col-xs-12">
                    <label for="notes" class="col-lg-12 control-label">Notes (Please enter any special requests here.)</label>
                    <input type="text" id="notes" name="notes" class="form-control">&nbsp;
                </div>
            </div>
        </fieldset>
        <div class="table_wrapper_button">
        <input type="submit" value="Save changes" id="add" class="btn btn-primary">
        </div>
        <p>&nbsp;</p>
    </div>
</form>
</%def>
