<%inherit file="base.html"/>
<%!
    import alliancekeeper, cherrypy
%>
<%def name="headerIncludes()">
    <div id="subhead_container">
        <div id="subhead_menu">
            % if _session['access_level'] > 2:
                <a onclick="self.shutdownQA(this)" class="button btn btn-sm btn-danger" data-toggle="tooltip" data-placement="bottom" title="Terminate the AllianceKeeper process - Be careful if you're doing this remotely"><i class="fa fa-power-off"></i> Shutdown</a>
                <a class="button btn btn-sm btn-warning" onclick="self.restartQA(this, '', '')" data-toggle="tooltip" data-placement="bottom" title="Restart AllianceKeeper"><i class="fa fa-refresh"></i> Restart</a>
            % endif
            <a class="button btn btn-sm btn-primary" href="checkForUpdates" data-toggle="tooltip" data-placement="bottom" title="Check for the latest release"><i class="fa fa-check-square-o"></i> Check Version</a>
      </div>
    </div>
</%def>
<%def name="body()">
<h1>${title}</h1>
    <form action="configUpdate" method="post">

        <div role="tab-table" class="hidden">

            <div>
                <ul class="nav nav-tabs" role="tablist" id="configtabs">
                    <li role="presentation" id="1" aria-controls="webinterface"><a role="tab" data-toggle="tab" aria-controls="webinterface" href="#webinterface">Interface</a></li>
                    <li role="presentation" id="2" aria-controls="alliancedefaults"><a role="tab" data-toggle="tab" aria-controls="alliancedefaults" href="#alliancedefaults">AllianceDefaults</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane" id="webinterface">
                        <div class="configtable">
                            <div class="row">
                                <div class="col-md-6">
                                    <fieldset>
                                        <legend>Server Details</legend>
                                        <div class="form-group">
                                            <input type="text" id="current_tab" name="current_tab" value="${alliancekeeper.CURRENT_TAB}" class="hidden">
                                            <label for="http_host" class="control-label">Hostname:</label>
                                            <input type="text" id="http_host" name="http_host" value="${alliancekeeper.CONFIG['HTTP_HOST']}" class="form-control" placeholder="Hostname">
                                        </div>
                                        <div class="form-group">
                                            <label for="http_port" class="control-label">Port:</label>
                                            <input type="text" id="http_port" name="http_port" value="${alliancekeeper.CONFIG['HTTP_PORT']}" class="form-control" placeholder="Port Number (Default 5299)">
                                        </div>
                                        <div class="form-group">
                                            <label for="http_root" class="control-label">Web Root:</label>
                                            <input type="text" id="http_root" name="http_root" value="${alliancekeeper.CONFIG['HTTP_ROOT']}" class="form-control" placeholder="Web Root">
                                        </div>
                                        <div class="checkbox">
                                            <%
                                                if alliancekeeper.CONFIG['HTTP_PROXY'] == True:
                                                    checked = 'checked="checked"'
                                                else:
                                                    checked = ''
                                            %>
                                            <label for="http_proxy" class="control-label">
                                                <input type="checkbox" id="http_proxy" name="http_proxy" value="1" ${checked} />
                                            Enable http proxy</label>
                                        </div>
                                        <div class="checkbox">
                                          <%
                                                                                        if alliancekeeper.CONFIG['HTTPS_ENABLED'] == True:
                                                                                            checked = 'checked="checked"'
                                                                                        else:
                                                                                            checked = ''
                                                                                    %>
                                          <label for="https_enabled" class="control-label">
                                            <input type="checkbox" id="https_enabled" name="https_enabled" value="1" ${checked} />
                                            Enable https access to alliancekeeper</label>
                                        </div>
                                        <fieldset id="https_options">
                                            <div class="form-group">
                                                <label for="https_cert" class="control-label">Https Certificate:</label>
                                                <input type="text" id="https_cert" name="https_cert" value="${alliancekeeper.CONFIG['HTTPS_CERT']}" class="form-control" placeholder="https certificate">
                                            </div>
                                            <div class="form-group">
                                                <label for="https_key" class="control-label">Https Key:</label>
                                                <input type="text" id="https_key" name="https_key" value="${alliancekeeper.CONFIG['HTTPS_KEY']}" class="form-control" placeholder="https key">
                                            </div>
                                        </fieldset>
                                        <div class="form-group">
                                            <label for="logdir" class="control-label">Logdir:</label>
                                            <input type="text" id="logdir" name="logdir" value="${alliancekeeper.CONFIG['LOGDIR']}" class="form-control" placeholder="Log Dir">
                                        </div>
                                        <div class="form-group">
                                            <label for="loglimit" class="control-label">Log Limit:</label>
                                            <input type="text" id="loglimit" name="loglimit" value="${alliancekeeper.CONFIG['LOGLIMIT']}" class="form-control" placeholder="Log Limit">
                                            <span class="help-block">Size of on-screen log, smaller is faster and uses less memory</span>
                                        </div>
                                        <div class="form-group">
                                          <label for="loglevel">Log Level:</label>
                                          <input type="text" id="loglevel" name="loglevel" value="${alliancekeeper.LOGLEVEL}" class="form-control" placeholder="Log Level">
                                          <span class="help-block">0=Quiet, 1=Normal, 2=Debug</span>
                                        </div>
                                        <div class="form-group">
                                          <label for="displaylength">Table Display Length:</label>
                                          <select name="displaylength" id="displaylength" class="form-control">
                                            %for displaylength in [5, 10, 15, 25, 50, 100, -1]:
                                            <%
                                                                                                if displaylength == alliancekeeper.CONFIG['DISPLAYLENGTH']:
                                                                                                    selected = 'selected="selected"'
                                                                                                else:
                                                                                                    selected = ''
                                                                                            %>
                                            <option value="${displaylength}" ${selected}>${displaylength}</option>
                                            %endfor
                                          </select>
                                          <span class="help-block">Use -1 to display all rows</span>
                                        </div>
                                        <div class="form-group">
                                            <label for="family_name">Family Name:</label>
                                            <input type="text" id="family_name" name="family_name" value="${alliancekeeper.CONFIG['FAMILY_NAME']}" class="form-control">
                                            <span-class="help-block">Short identifier for family name.  For branding in the header.</span-class>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="col-md-6">
                                    <fieldset>
                                        <legend>Access Control</legend>
                                        <div class="form-group">
                                            <label for="http_user">Username:</label>
                                            <input type="text" id="http_user" name="http_user" value="${alliancekeeper.CONFIG['HTTP_USER']}" class="form-control" placeholder="Username">
                                        </div>
                                        <div class="form-group">
                                            <label for="http_pass" class="control-label">Password:</label>
                                            <input type="password" id="http_pass" name="http_pass" value="${alliancekeeper.CONFIG['HTTP_PASS']}" class="form-control" placeholder="Password">
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <legend>Startup</legend>
                                        <div class="checkbox">
                                            <%
                                            if alliancekeeper.CONFIG['API_ENABLED'] == True:
                                                checked = 'checked="checked"'
                                            else:
                                                checked = ''
                                            %>
                                            <label for="api_enabled" "title="Allow remote applications to interface with LazyLibrarian">
                                            <input type="checkbox" id="api_enabled" name="api_enabled" value="1" ${checked} />
                                            Enable API</label>
                                        </div>
                                        <fieldset id="api_options">
                                            <div id="api_options" class="form-group">
                                                <label>API key</label>
                                                <input type="text" name="api_key" id="api_key" value="${alliancekeeper.CONFIG['API_KEY']}" size="36">
                                                <input class="button btn btn-sm btn-primary" type="button" value="Generate" id="generateAPI" onClick="document.location.reload(true)">
                                                <br>
                                                <small>Current API key: <strong>${alliancekeeper.CONFIG['API_KEY']}</strong></small>
                                            </div>
                                        </fieldset>
                                    </fieldset>
                                    <fieldset>
                                        <legend>Appearance</legend>
                                        <div class="form-group">
                                            <label for="http_look">Interface:</label>
                                            <select id="http_look" name="http_look" class="form-control">
                                                %for http_look in config['http_look_list']:
                                                <%
                                                if http_look == alliancekeeper.CONFIG['HTTP_LOOK']:
                                                    selected = 'selected="selected"'
                                                else:
                                                    selected = ''
                                                %>
                                                <option value="${http_look}" ${selected}>${http_look}</option>
                                                %endfor
                                            </select>
                                        </div>
                                        <div class="checkbox hidden"> <!-- Not really required? -->
                                            <label for="bookstrap" class="control-label">
                                                <input type="checkbox" name="use_bookstrap" id="bookstrap" value="1" ${checked} />
                                                Use Bookstrap</label>
                                        </div>
                                        <fieldset id="bookstrap_options">
                                            <div class="form_group">
                                                <label for="bootstrap_theme" class="control-label">Bootswatch Theme:</label>
                                                <select name="bootstrap_theme" id="bootstrap_theme" class="form-control">
                                                    %for bootstrap_theme in alliancekeeper.BOOTSTRAP_THEMELIST:
                                                    <%
                                                    if bootstrap_theme == alliancekeeper.CONFIG['BOOTSTRAP_THEME']:
                                                        selected = 'selected="selected"'
                                                    else:
                                                        selected = ''
                                                    %>
                                                    <option value="${bootstrap_theme}" ${selected}>${bootstrap_theme}</option>
                                                    %endfor
                                                </select>
                                            </div>
                                        </fieldset>
                                        <br>
                                    </fieldset>
                                   <fieldset>
                                        <legend>War</legend>
                                            <div class="form-group">
                                                <label for="warnotify_interval">War Check Interval:</label>
                                                <input type="text" id="warnotify_interval" name="warnotify_interval" value="${alliancekeeper.CONFIG['WARNOTIFY_INTERVAL']}" class="form-control" placeholder="Log Level">
                                                <span class="help-block">Frequency in Minutes</span>
                                        </div>
                                   </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="alliancedefaults">
                        <div class="configtable">
                            <div class="col-md-6">
                                <fieldset>
                                    <legend>Event Planning</legend>
                                    <div class="checkbox">
                                        <%
                                            if alliancekeeper.CONFIG['COMMIT_SHOWMOVE'] == True:
                                                checked = 'checked="checked"'
                                            else:
                                                checked = ''
                                        %>
                                        <label for="commit_showmove" class="control-label">
                                            <input type="checkbox" id="commit_showmove" name="commit_showmove" value="1" ${checked} />
                                        Enable "Willing to Move" Checkbox</label>
                                    </div>
                                    <legend>Player Display</legend>
                                    <div class="form-group">
                                            <label for="war_summary_columns">War Summary Columns:</label>
                                            <input type="text" id="war_summary_columns" name="war_summary_columns" value="${alliancekeeper.CONFIG['WAR_SUMMARY_COLUMNS']}" class="form-control" placeholder="Log Level">
                                            <span class="help-block">Number of wars to show in War Summary</span>
                                    </div>
                                    <div class="form-group">
                                            <label for="war_average_history">War Average History:</label>
                                            <input type="text" id="war_average_history" name="war_average_history" value="${alliancekeeper.CONFIG['WAR_AVERAGE_HISTORY']}" class="form-control" placeholder="Log Level">
                                            <span class="help-block">How Far Back to Average Wars (in Days)</span>
                                    </div>

                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="downloadsettings">
                        <div class="configtable">
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="providers">
                        <div class="configtable">
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="searchprocessing">
                        <div class="configtable">
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="notifications">
                        <div class="configtable">
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="capabilities">
                        <div class="configtable">
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="filters">
                        <div class="configtable">
                        </div>
                    </div>
                </div>
            </div>
            <!-- tabs -->
            <div class="table_wrapper_button">
                <input type="submit" value="Save changes" id="add" class="btn btn-primary">
            </div>
            <p>&nbsp;</p>
            <p style="text-align:center;color:grey">Branch: ${alliancekeeper.CONFIG['GIT_BRANCH']}<br>
                Current Version: ${alliancekeeper.CONFIG['CURRENT_VERSION']}  : Latest  Version:    ${alliancekeeper.CONFIG['LATEST_VERSION']}
            </p>
        </div>
    </form>
</%def>
<%def name="javascriptIncludes()">
  <script type="text/javascript">
    function initThisPage()

    {
        "use strict";

        if ($("#https_enabled").is(":checked"))
            {
                    $("#https_options").show();
            }
            else
            {
                    $("#https_options").hide();
            }

        $("#https_enabled").click(function(){
                if ($("#https_enabled").is(":checked"))
                {
                        $("#https_options").slideDown();
                }
                else
                {
                        $("#https_options").slideUp();
                }
        });

        if ($("#api_enabled").is(":checked"))
            {
                    $("#api_options").show();
            }
            else
            {
                    $("#api_options").hide();
            }

        $("#api_enabled").click(function(){
                if ($("#api_enabled").is(":checked"))
                {
                        $("#api_options").slideDown();
                }
                else
                {
                        $("#api_options").slideUp();
                }
        });

        if ($("#tor_downloader_blackhole").is(":checked"))
            {
                    $("#tor_blackhole_options").show();
            }
        else
            {
                    $("#tor_blackhole_options").hide();
            }

        $("#tor_downloader_blackhole").click(function(){
                if ($("#tor_downloader_blackhole").is(":checked"))
                {
                        $("#tor_blackhole_options").slideDown();
                }
                else
                {
                        $("#tor_blackhole_options").slideUp();
                }
        });

        if ($("#tor_downloader_deluge").is(":checked"))
            {
                    $("#deluge_options").show();
            }
        else
            {
                    $("#deluge_options").hide();
            }
        $("#tor_downloader_deluge").click(function(){
                if ($("#tor_downloader_deluge").is(":checked"))
                {
                        $("#deluge_options").slideDown();
                }
                else
                {
                        $("#deluge_options").slideUp();
                }
        });

        if ($("#tor_downloader_transmission").is(":checked"))
            {
                    $("#transmission_options").show();
            }
        else
            {
                    $("#transmission_options").hide();
            }
        $("#tor_downloader_transmission").click(function(){
                if ($("#tor_downloader_transmission").is(":checked"))
                {
                        $("#transmission_options").slideDown();
                }
                else
                {
                        $("#transmission_options").slideUp();
                }
        });

        if ($("#tor_downloader_utorrent").is(":checked"))
            {
                    $("#utorrent_options").show();
            }
        else
            {
                    $("#utorrent_options").hide();
            }

        $("#tor_downloader_utorrent").click(function(){
                if ($("#tor_downloader_utorrent").is(":checked"))
                {
                        $("#utorrent_options").slideDown();
                }
                else
                {
                        $("#utorrent_options").slideUp();
                }
        });

        if ($("#tor_downloader_rtorrent").is(":checked"))
            {
                    $("#rtorrent_options").show();
            }
        else
            {
                    $("#rtorrent_options").hide();
            }
        $("#tor_downloader_rtorrent").click(function(){
                if ($("#tor_downloader_rtorrent").is(":checked"))
                {
                        $("#rtorrent_options").slideDown();
                }
                else
                {
                        $("#rtorrent_options").slideUp();
                }
        });

        if ($("#tor_downloader_qbittorrent").is(":checked"))
            {
                    $("#qbittorrent_options").show();
            }
        else
            {
                    $("#qbittorrent_options").hide();
            }

        $("#tor_downloader_qbittorrent").click(function(){
                if ($("#tor_downloader_qbittorrent").is(":checked"))
                {
                        $("#qbittorrent_options").slideDown();
                }
                else
                {
                        $("#qbittorrent_options").slideUp();
                }
        });

        if ($("#nzb_downloader_blackhole").is(":checked"))
            {
                    $("#nzb_blackhole_options").show();
            }
        else
            {
                    $("#nzb_blackhole_options").hide();
            }

        $("#nzb_downloader_blackhole").click(function(){
                if ($("#nzb_downloader_blackhole").is(":checked"))
                {
                        $("#nzb_blackhole_options").slideDown();
                }
                else
                {
                        $("#nzb_blackhole_options").slideUp();
                }
        });

        if ($("#nzb_downloader_sabnzbd").is(":checked"))
            {
                    $("#sabnzbd_options").show();
            }
        else
            {
                    $("#sabnzbd_options").hide();
            }
        $("#nzb_downloader_sabnzbd").click(function(){
                if ($("#nzb_downloader_sabnzbd").is(":checked"))
                {
                        $("#sabnzbd_options").slideDown();
                }
                else
                {
                        $("#sabnzbd_options").slideUp();
                }
        });

        if ($("#nzb_downloader_nzbget").is(":checked"))
            {
                    $("#nzbget_options").show();
            }
        else
            {
                    $("#nzbget_options").hide();
            }
        $("#nzb_downloader_nzbget").click(function(){
                if ($("#nzb_downloader_nzbget").is(":checked"))
                {
                        $("#nzbget_options").slideDown();
                }
                else
                {
                        $("#nzbget_options").slideUp();
                }
        });

        if ($("#use_synology").is(":checked"))
            {
                    $("#synology_options").show();
            }
        else
            {
                    $("#synology_options").hide();
            }
        $("#use_synology").click(function(){
                if ($("#use_synology").is(":checked"))
                {
                        $("#synology_options").slideDown();
                }
                else
                {
                        $("#synology_options").slideUp();
                }
        });

        $('#generateAPI').click(function () {
            $.get("generateAPI",
                function (data) { });

        });

        $('#showblocked').on('click', function(e) {
            $.get('showblocked', function(data) {
                bootbox.dialog({
                    title: 'Provider Status',
                    message: '<pre>'+data+'</pre>',
                    buttons: {
                        primary: {
                            label: "Ok",
                            className: 'btn-primary'
                        },
                        prompt: {
                            label: "Clear Blocklist",
                            className: 'btn-primary',
                            callback: function(result){ $.get("clearblocked", function(e) {}); }
                        }
                    }
                });
            });
        });
        $('#show_Jobs').on('click', function(e) {
            $.get('show_Jobs', function(data) {
                bootbox.dialog({
                    title: 'Jobs Status',
                    message: '<pre>'+data+'</pre>',
                    buttons: {
                        primary: {
                            label: "Close",
                            className: 'btn-primary'
                        }
                    }
                });
            });
        });

        $('#stop_Jobs').on('click', function(e) {
            $.get('stop_Jobs', function(data) {
                bootbox.dialog({
                    title: 'Stop Jobs',
                    message: '<pre>'+data+'</pre>',
                    buttons: {
                        primary: {
                            label: "Close",
                            className: 'btn-primary'
                        }
                    }
                });
            });
        });

        $('#restart_Jobs').on('click', function(e) {
            $.get('restart_Jobs', function(data) {
                bootbox.dialog({
                    title: 'Restarted Jobs',
                    message: '<pre>'+data+'</pre>',
                    buttons: {
                        primary: {
                            label: "Close",
                            className: 'btn-primary'
                        }
                    }
                });
            });
        });

        $('#testSABnzbd').on('click', function() {
            var host = $.trim($("#sab_host").val());
            var port = $.trim($("#sab_port").val());
            var user = $.trim($("#sab_user").val());
            var pwd = $.trim($("#sab_pass").val());
            var api = $.trim($("#sab_api").val());
            var cat = $.trim($("#sab_cat").val());
            var subdir = $.trim($("#sab_subdir").val());
            $.get("testSABnzbd", {'host': host, 'port': port, 'user': user, 'pwd': pwd, 'api': api, 'cat': cat, 'subdir': subdir},
            function(data) {
                bootbox.dialog({
                    title: 'SABnzbd Connection',
                    message: '<pre>'+data+'</pre>',
                    buttons: {
                        primary: {
                            label: "Close",
                            className: 'btn-primary'
                        }
                    }
                });
            });
        });
        $('#testNZBget').on('click', function(e) {
            var host = $.trim($("#nzbget_host").val());
            var port = $.trim($("#nzbget_port").val());
            var user = $.trim($("#nzbget_user").val());
            var pwd = $.trim($("#nzbget_pass").val());
            var cat = $.trim($("#nzbget_category").val());
            var pri = $.trim($("#nzbget_priority").val());
            $.get('testNZBget', {'host': host, 'port': port, 'user': user, 'pwd': pwd, 'cat': cat, 'pri': pri},
                function(data) {
                bootbox.dialog({
                    title: 'NZBget Connection',
                    message: '<pre>'+data+'</pre>',
                    buttons: {
                        primary: {
                            label: "Close",
                            className: 'btn-primary'
                        }
                    }
                });
            });
        });

        $('#testSynology').on('click', function(e) {
            var host = $.trim($("#synology_host").val());
            var port = $.trim($("#synology_port").val());
            var user = $.trim($("#synology_user").val());
            var pwd = $.trim($("#synology_pass").val());
            var dir = $.trim($("#synology_dir").val());
            $.get('testSynology', {'host': host, 'port': port, 'user': user, 'pwd': pwd, 'dir': dir},
                function(data) {
                bootbox.dialog({
                    title: 'Synology Connection',
                    message: '<pre>'+data+'</pre>',
                    buttons: {
                        primary: {
                            label: "Close",
                            className: 'btn-primary'
                        }
                    }
                });
            });
        });

        $('#testDeluge').on('click', function() {
            var host = $.trim($("#deluge_host").val());
            var port = $.trim($("#deluge_port").val());
            var user = $.trim($("#deluge_user").val());
            var pwd = $.trim($("#deluge_pass").val());
            var label = $.trim($("#deluge_label").val());
            $.get("testDeluge", {'host': host, 'port': port, 'user': user, 'pwd': pwd, 'label': label},
                function(data) {
                    bootbox.dialog({
                    title: 'Deluge Connection',
                    message: '<pre>'+data+'</pre>',
                    buttons: {
                        primary: {
                            label: "Close",
                            className: 'btn-primary'
                        }
                    }
                });
            });
        });

        $('#testTransmission').on('click', function(e) {
            var host = $.trim($("#transmission_host").val());
            var port = $.trim($("#transmission_port").val());
            var user = $.trim($("#transmission_user").val());
            var pwd = $.trim($("#transmission_pass").val());
            $.get('testTransmission', {'host': host, 'port': port, 'user': user, 'pwd': pwd},
                function(data) {
                bootbox.dialog({
                    title: 'Transmission Connection',
                    message: '<pre>'+data+'</pre>',
                    buttons: {
                        primary: {
                            label: "Close",
                            className: 'btn-primary'
                        }
                    }
                });
            });
        });

        $('#testqBittorrent').on('click', function() {
            var host = $.trim($("#qbittorrent_host").val());
            var port = $.trim($("#qbittorrent_port").val());
            var user = $.trim($("#qbittorrent_user").val());
            var pwd = $.trim($("#qbittorrent_pass").val());
            var label = $.trim($("#qbittorrent_label").val());
            $.get('testqBittorrent', {'host': host, 'port': port, 'user': user, 'pwd': pwd, 'label': label},
                function(data) {
                bootbox.dialog({
                    title: 'qBittorrent Connection',
                    message: '<pre>'+data+'</pre>',
                    buttons: {
                        primary: {
                            label: "Close",
                            className: 'btn-primary'
                        }
                    }
                });
            });
        });

        $('#testuTorrent').on('click', function(e) {
            var host = $.trim($("#utorrent_host").val());
            var port = $.trim($("#utorrent_port").val());
            var user = $.trim($("#utorrent_user").val());
            var pwd = $.trim($("#utorrent_pass").val());
            var label = $.trim($("#utorrent_label").val());
            $.get('testuTorrent', {'host': host, 'port': port, 'user': user, 'pwd': pwd, 'label': label},
                function(data) {
                bootbox.dialog({
                    title: 'uTorrent Connection',
                    message: '<pre>'+data+'</pre>',
                    buttons: {
                        primary: {
                            label: "Close",
                            className: 'btn-primary'
                        }
                    }
                });
            });
        });

        $('#testrTorrent').on('click', function(e) {
            var host = $.trim($("#rtorrent_host").val());
            var dir = $.trim($("#rtorrent_dir").val());
            var user = $.trim($("#rtorrent_user").val());
            var pwd = $.trim($("#rtorrent_pass").val());
            var label = $.trim($("#rtorrent_label").val());
            $.get('testrTorrent', {'host': host, 'dir': dir, 'user': user, 'pwd': pwd, 'label': label},
                function(data) {
                bootbox.dialog({
                    title: 'rTorrent Connection',
                    message: '<pre>'+data+'</pre>',
                    buttons: {
                        primary: {
                            label: "Close",
                            className: 'btn-primary'
                        }
                    }
                });
            });
        });

        if ($("#use_twitter").is(":checked"))
                {
                        $("#twitteroptions").show();
                }
        else
                {
                        $("#twitteroptions").hide();
                }

        $("#use_twitter").click(function(){
                if ($("#use_twitter").is(":checked"))
                {
                        $("#twitteroptions").slideDown();
                }
                else
                {
                        $("#twitteroptions").slideUp();
                }
        });

        if ($("#use_boxcar").is(":checked"))
                {
                        $("#boxcaroptions").show();
                }
        else
                {
                        $("#boxcaroptions").hide();
                }

        $("#use_boxcar").click(function(){
                if ($("#use_boxcar").is(":checked"))
                {
                        $("#boxcaroptions").slideDown();
                }
                else
                {
                        $("#boxcaroptions").slideUp();
                }
        });

        if ($("#fullscan").is(":checked"))
                {
                        $("#fullscanoptions").show();
                }
        else
                {
                        $("#fullscanoptions").hide();
                }

        $("#fullscan").click(function(){
                if ($("#fullscan").is(":checked"))
                {
                        $("#fullscanoptions").slideDown();
                }
                else
                {
                        $("#fullscanoptions").slideUp();
                }
        });

        if ($("#use_pushbullet").is(":checked"))
                {
                        $("#pushbulletoptions").show();
                }
        else
                {
                        $("#pushbulletoptions").hide();
                }

        $("#use_pushbullet").click(function(){
                if ($("#use_pushbullet").is(":checked"))
                {
                        $("#pushbulletoptions").slideDown();
                }
                else
                {
                        $("#pushbulletoptions").slideUp();
                }
        });

        if ($("#use_pushover").is(":checked"))
                {
                        $("#pushoveroptions").show();
                }
        else
                {
                        $("#pushoveroptions").hide();
                }
        $("#use_pushover").click(function(){
                if ($("#use_pushover").is(":checked"))
                {
                        $("#pushoveroptions").slideDown();
                }
                else
                {
                        $("#pushoveroptions").slideUp();
                }
        });

        if ($("#use_androidpn").is(":checked"))
                {
                        $("#androidpnoptions").show();
                }
        else
                {
                        $("#androidpnoptions").hide();
                }
        $("#use_androidpn").click(function(){
                if ($("#use_androidpn").is(":checked"))
                {
                    $("#androidpnoptions").slideDown();
                }
                else
                {
                    $("#androidpnoptions").slideUp();
                }
        });
        if ($("#androidpn_broadcast").is(":checked"))
                {
                        $("#androidpn_username").hide();
                }
        else
                {
                        $("#androidpn_username").show();
                }
        $("#androidpn_broadcast").click(function(){
                if ($("#androidpn_broadcast").is(":checked"))
                {
                    $("#androidpn_username").slideUp();
                }
                else
                {
                    $("#androidpn_username").slideDown();
                }
        });

            if ($("#use_nma").is(":checked"))
                    {
                            $("#nmaoptions").show();
                    }
            else
                    {
                            $("#nmaoptions").hide();
                    }

            $("#use_nma").click(function(){
                    if ($("#use_nma").is(":checked"))
                    {
                            $("#nmaoptions").slideDown();
                    }
                    else
                    {
                            $("#nmaoptions").slideUp();
                    }
            });

            $("#use_prowl").click(function(){
                    if ($("#use_prowl").is(":checked"))
                    {
                            $("#prowloptions").slideDown();
                    }
                    else
                    {
                            $("#prowloptions").slideUp();
                    }
            });

            if ($("#use_prowl").is(":checked"))
                    {
                            $("#prowloptions").show();
                    }
            else
                    {
                            $("#prowloptions").hide();
                    }

        if ($("#use_slack").is(":checked"))
                {
                        $("#slackoptions").show();
                }
        else
                {
                        $("#slackoptions").hide();
                }
        $("#use_slack").click(function(){
                if ($("#use_slack").is(":checked"))
                {
                        $("#slackoptions").slideDown();
                }
                else
                {
                        $("#slackoptions").slideUp();
                }
        });

        if ($("#use_custom").is(":checked"))
                {
                        $("#customoptions").show();
                }
        else
                {
                        $("#customoptions").hide();
                }

        $("#use_custom").click(function(){
                if ($("#use_custom").is(":checked"))
                {
                        $("#customoptions").slideDown();
                }
                else
                {
                        $("#customoptions").slideUp();
                }
        });

        if ($("#use_email").is(":checked"))
                {
                        $("#emailoptions").show();
                }
        else
                {
                        $("#emailoptions").hide();
                }

        $("#use_email").click(function(){
                if ($("#use_email").is(":checked"))
                {
                        $("#emailoptions").slideDown();
                }
                else
                {
                        $("#emailoptions").slideUp();
                }
        });


        $('#twitterStep1').click(function () {
            $('#testTwitter-result').html('');
            $.get("twitterStep1", function (data) {window.open(data); })
                .done(function () { $('#testTwitter-result').html('<b>Step1:</b> Confirm Authorization'); });
        });

        $('#twitterStep2').click(function () {
            $('#testTwitter-result').html('');
            var twitter_key = $("#twitter_key").val();
            $.get("twitterStep2", {'key': twitter_key},
                function (data) { $('#testTwitter-result').html(data); });
        });

        $('#testTwitter').click(function () {
            $.get("testTwitter",
                function (data) { $('#testTwitter-result').html(data); });
        });

        $('#testBoxcar').click(function () {
            var token = $.trim($("#boxcar_token").val());
            $.get("testBoxcar", {'token': token},
                function (data) { window.alert(data) });
        });

        $('#testPushbullet').click(function () {
            var token = $.trim($("#pushbullet_token").val());
            var device = $.trim($("#pushbullet_deviceid").val());
            $.get("testPushbullet", {'token': token, 'device': device},
                function (data) { window.alert(data) });
        });

        $('#testPushover').click(function () {
            var token = $.trim($("#pushover_apitoken").val());
            var keys = $.trim($("#pushover_keys").val());
            var priority = $.trim($("#pushover_priority").val());
            var device = $.trim($("#pushover_device").val());
            $.get("testPushover", {'apitoken': token, 'keys': keys, 'priority': priority, 'device': device},
                function (data) { window.alert(data) });
        });

        $('#testProwl').click(function () {
            var apikey = $.trim($("#prowl_apikey").val());
            var priority = $.trim($("#prowl_priority").val());
            $.get("testProwl", {'apikey': apikey, 'priority': priority},
                function (data) { window.alert(data) });
        });

        $('#testNMA').click(function () {
            var apikey = $.trim($("#nma_apikey").val());
            var priority = $.trim($("#nma_priority").val());
            $.get("testNMA", {'apikey': apikey, 'priority': priority},
                function (data) { window.alert(data) });
        });

        $('#testSlack').click(function () {
            var token = $.trim($("#slack_token").val());
            $.get("testSlack", {'token': token},
                function (data) { window.alert(data) });
        });

        $('#testCustom').click(function () {
            var script = $.trim($("#custom_script").val());
            $.get("testCustom", {'script': script},
                function (data) { window.alert(data) });
        });

        $('#testEmail').click(function () {
            var tls = ($("#email_tls").prop('checked') == true) ? 'True' : 'False';
            var ssl = ($("#email_ssl").prop('checked') == true) ? 'True' : 'False';
            var sendfile = ($("#email_sendfile_ondownload").prop('checked') == true) ? 'True' : 'False';
            var emailfrom = $.trim($("#email_from").val());
            var emailto = $.trim($("#email_to").val());
            var server = $.trim($("#email_smtp_server").val());
            var user = $.trim($("#email_smtp_user").val());
            var password = $.trim($("#email_smtp_password").val());
            var port = $.trim($("#email_smtp_port").val());
            $.get("testEmail", {'tls': tls, 'ssl': ssl, 'emailfrom': emailfrom, 'emailto': emailto, 'server': server, 'user': user, 'password': password, 'port': port, 'sendfile': sendfile},
                function (data) { window.alert(data) });
        });

        $("#testAndroidPN").click(function () {
            var androidpn_url = $.trim($("#androidpn_url").val());
            var androidpn_username = $.trim($("#androidpn_username").val());
            var androidpn_broadcast = ($("#androidpn_broadcast").prop('checked') == true) ? 'Y' : 'N';
            $.get("testAndroidPN", {'url': androidpn_url, 'username': androidpn_username, 'broadcast': androidpn_broadcast},
                function (data) { window.alert(data) });
        });

        $('#http_look').change(function() {
            if ($(this).val() == 'bookstrap') {
                $('#bookstrap_options').removeClass("hidden");
            } else {
                $('#bookstrap_options').addClass("hidden");
            }
        });

        // when the page first loads, hide all tab headers and panels
        $("li[role='presentation']").attr("aria-selected", "false");
        $("li[role='presentation']").removeClass('active');
        $("div[role='tabpanel']").attr("aria-hidden", "true");
        $("div[role='tabpanel']").removeClass('active');
        // which one do we want to show
        var tabnum = $("#current_tab").val();
        var tabid = $("#" + tabnum);
        var tabpanel = tabid.attr('aria-controls');
        var tabpanelid = $("#" + tabpanel);
        // show the tab header and panel we want
        tabpanelid.attr("aria-hidden", "false");
        tabpanelid.addClass('active');
        tabid.attr("aria-selected", "true");
        tabid.addClass('active');
        $("div[role='tab-table']").removeClass('hidden');

        // when a tab is clicked
        $("li[role='presentation']").click(function(){
            var tabnum = $(this).attr('id');    // store current tab for python
            $("#current_tab").val(tabnum);
        });


    } // End Init

    $(document).ready(function() {
        initThisPage();
    });
  </script>
</%def>
<html><head></head><body></body></html>
