<%inherit file="base.html"/>
<%!
    import alliancekeeper
%>
<%def name="headerIncludes()">
    <div id="subhead_container">
        <div id="subhead_menu">
        </div>
    </div>
</%def>
<%def name="body()">
<form action="userUpdate" method="post">
    <div class="configtable">
        % if msg:
        <div class="alert alert-danger" style="text-align: center; padding: 8px;">
            ${msg}
        </div>
        % endif
        <fieldset>
            <legend>${title}</legend>
            <div class="form-group">
                <input type="text" id="userid" name="userid" value="${config['UserID']}" class="hidden">
            </div>
            <div class="form-group">
                <label for="username" class="control-label">User Name:</label>
                <input type="text" id="username" name="username" value="${config['UserName']}" class="form-control" placeholder="User Name"
                % if config['UserName'] != "" and _session['access_level'] < 3:
                readonly
                % endif
                ><br>
            </div>
            <div class="form-group">
                <label for="password" class="control-label">Password:</label>
                <input type="password" id="password" name="password" value="${config['PWHash']}" class="form-control"
                % if _session['user_id'] != config['UserID'] and _session['access_level'] <= config['AccessLevel']:
                    readonly
                % endif
                >&nbsp;
            </div>
            <div class="form-group">
                <label for="accesslevel" class="control-label">Access Level:</label>
                % if config['AccessLevel'] >= _session['access_level']:
                    <input type="text" id="accesslevel" name="accesslevel" value="${config['AccessLevel']}" class="form-control" readonly>
                % else:
                    <select type="text" id="accesslevel" name="accesslevel" value="${config['AccessLevel']}" class="form-control">
                        % for i in xrange(_session['access_level']):
                            <%
                                if i == config['AccessLevel']:
                                    selected = 'selected="selected"'
                                else:
                                    selected = ''
                            %>
                            <option value="${i}" ${selected}>${i}</option>
                        % endfor
                    </select>
                % endif
            </div>
            % if _session['user_id'] == config['UserID']:
                <div class="form_group">
                    <label for="interfacelook" class="control-label">Bootstrap Theme:</label>
                    <select name="interfacelook" id="interfacelook" class="form-control">
                        % for bootstrap_theme in alliancekeeper.BOOTSTRAP_THEMELIST:
                        <%
                        if bootstrap_theme == config['InterfaceLook']:
                            selected = 'selected="selected"'
                        else:
                            selected = ''
                        %>
                        <option value="${bootstrap_theme}" ${selected}>${bootstrap_theme}</option>
                        % endfor
                    </select>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Preferences</h3>
                    </div>
                    <div class="panel-body">
                        <%
                        prefcount = 0
                        %>
                        % for key in prefs.keys():
                        <%
                            keyfield = "key_%03d" % prefcount
                            valuefield = "value_%03d" % prefcount
                        %>
                        <div class="form-group col-xs-4">
                            <label for="${keyfield}" class="control-label">Option</label>
                            <input type="text" id="${keyfield}" name="${keyfield}" value="${key}" class="form-control">
                        </div>
                        <div class="form-group col-xs-8">
                            <label for="${valuefield}" class="control-label">Value</label>
                            <input type="text" id="${valuefield}" name="${valuefield}" value="${prefs[key]}" class="form-control">
                        </div>
                        <%
                            prefcount += 1
                        %>
                        % endfor
                         <%
                            keyfield = "key_%03d" % prefcount
                            valuefield = "value_%03d" % prefcount
                        %>
                        <div class="form-group col-xs-4">
                            <label for="${keyfield}" class="control-label">Option</label>
                            <input type="text" id="${keyfield}" name="${keyfield}" value="" class="form-control">
                        </div>
                        <div class="form-group col-xs-8">
                            <label for="${valuefield}" class="control-label">Value</label>
                            <input type="text" id="${valuefield}" name="${valuefield}" value="" class="form-control">
                        </div>

                    </div>
                </div>
            % endif
        </fieldset>
        <div class="table_wrapper_button">
        <input type="submit" value="Save changes" id="add" class="btn btn-primary">
        </div>
        <p>&nbsp;</p>
    </div>
</form>
</%def>
