<%inherit file="base.html"/>
<%!
    import alliancekeeper
%>
<%def name="headerIncludes()">
    <div id="subhead_container">
        <div id="subhead_menu">
        </div>
    </div>
</%def>
<%def name="body()">
<form action="allianceUpdate" method="post">
    <div class="configtable">
        % if msg:
        <div class="alert alert-danger" style="text-align: center; padding: 8px;">
            ${msg}
        </div>
        % endif
        <fieldset>
            <legend>${title}</legend>
            <div class="form-group">
                <input type="text" id="allianceid" name="allianceid" value="${alliance['AllianceID']}" class="hidden">
                <input type="text" id="dateadded" name="dateadded" value="${alliance['DateAdded']}" class="hidden">
                <input type="text" id="medalcount" name="medalcount" value="${alliance['MedalCount']}" class="hidden">
                <input type="text" id="playercount" name="playercount" value="${alliance['PlayerCount']}" class="hidden">
                <input type="text" id="commanderid" name="commanderid" value="${alliance['CommanderID']}" class="hidden">
            </div>
            <div class="form-group">
                <label for="alliancename" class="col-lg-2 control-label">Alliance Name:</label>
                <div class="col-lg-10">
                    <input type="text" id="alliancename" name="alliancename" value="${alliance['AllianceName']}" class="form-control" placeholder="Alliance Name"><br>
                </div>
            </div>
            <div class="form-group">
                <label for="warleague" class="col-lg-2 control-label">War League:</label>
                <div class="col-lg-10">
                    <select name="warleague" id="warleague" class="form-control">
                        % for warleague in alliancekeeper.WAR_LEAGUES:
                            <%
                            if warleague == alliance['WarLeague']:
                                selected = 'selected="selected"'
                            else:
                                selected = ''
                            %>
                            <option value="${warleague}" ${selected}>${warleague}</option>

                        % endfor
                    </select>
                </div>
            </div>
        </fieldset>
        <div class="table_wrapper_button">
        <input type="submit" value="Save changes" id="add" class="btn btn-primary">
        </div>
        <p>&nbsp;</p>
    </div>
</form>
</%def>
