<%inherit file="base.html"/>
<%!
    import alliancekeeper
%>
<%def name="headerIncludes()">
    <div id="subhead_container">
        <div id="subhead_menu">
        </div>
    </div>
</%def>
<%def name="body()">
<form action="eventUpdate" method="post">
    <div class="configtable">
        % if msg:
        <div class="alert alert-danger" style="text-align: center; padding: 8px;">
            ${msg}
        </div>
        % endif
        <fieldset>
            <legend>${title}</legend>
            <div class="form-group">
                <input type="text" id="eventid" name="eventid" value="${event['EventID']}" class="hidden">
            </div>
            <div class="form-group">
                <input type="text" id="timestamp" name="timestamp" value="${event['TimeStamp']}" class="hidden">
            </div>
            <div class="form-group">
                <input type="text" id="eventtotalscore" name="eventtotalscore" value="${event['EventTotalScore']}" class="hidden">
            </div>
            <div class="form-group">
                <label for="eventname" class="col-lg-2 control-label">Event Name:</label>
                <div class="col-lg-10">
                    <input type="text" id="eventname" name="eventname" value="${event['EventName']}" class="form-control" placeholder="Event Name"><br>
                </div>
            </div>
            <div class="form-group">
                <label for="eventtype" class="col-lg-2 control-label">Event Type:</label>
                <div class="col-lg-10">
                    <select name="eventtype" id="eventtype" class="form-control">
                        % for eventtype in eventtypes:
                            <%
                            if eventtype == event['EventType']:
                                selected = 'selected="selected"'
                            else:
                                selected = ''
                            %>
                            <option value="${eventtype}" ${selected}>${eventtype}</option>

                        % endfor
                </select>
                    &nbsp;
                </div>
            </div>
            <div class="form-group">
                <label for="eventstarttime" class="col-lg-2 control-label">Event Start Time:</label>
                <div class="col-lg-10">
                    <input type="datetime-local" id="eventstarttime" name="eventstarttime" value="${event['EventStartTime']}" class="form-control"><br>
                </div>
            </div>
        </fieldset>
        <div class="table_wrapper_button">
        <input type="submit" value="Save changes" id="add" class="btn btn-primary">
        </div>
        <p>&nbsp;</p>
    </div>
</form>
</%def>
