<%inherit file="base.html"/>
<%!
    import alliancekeeper
%>
<%def name="headerIncludes()">
    <div id="subhead_container">
        <div id="subhead_menu">
        </div>
    </div>
</%def>
<%def name="body()">
<form action="playerUpdate" method="post">
    <div class="configtable">
        % if msg:
        <div class="alert alert-danger" style="text-align: center; padding: 8px;">
            ${msg}
        </div>
        % endif
        <fieldset>
            <legend>${title}</legend>
            <div class="form-group">
                <input type="text" id="playerid" name="playerid" value="${player['PlayerID']}" class="hidden">
            </div>
            <div class="form-group">
                <input type="text" id="playerdateadded" name="playerdateadded" value="${player['PlayerDateAdded']}" class="hidden">
            </div>
            <div class="form-group">
                <input type="text" id="Return" name="Return" value="${Return}" class="hidden">
            </div>
            <div class="form-group">
                <input type="text" id="ReturnID" name="ReturnID" value="${ReturnID}" class="hidden">
            </div>
            <div class="row">
                <div class="form-group col-xs-6">
                    <label for="playername" class="col-lg-12 control-label">Player Name:</label>
                    <input type="text" id="playername" name="playername" value="${player['PlayerName']}" class="form-control" placeholder="Player Name"><br>
                    % if player['PlayerID'] == -1:
                        <div class="checkbox">
                            <input type="checkbox" name="confirmplayername" id="confirmplayername"> <small>Check this if another player exists with this name.</small>
                        </div>
                    % else:
                       <div class="checkbox hidden">
                            <input type="checkbox" name="confirmplayername" id="confirmplayername"> <small>Check this if another player exists with this name.</small>
                       </div>
                    % endif
                </div>
                <div class="form_group col-xs-6">
                    <label for="allianceid" class="col-lg-12 control-label">Alliance:</label>
                    <select name="allianceid" id="allianceid" class="form-control">
                        %for alliance in alliances:
                        <%
                        if int(alliance['AllianceID']) == int(player['AllianceID']):
                            selected = 'selected="selected"'
                        else:
                            selected = ''
                        %>
                        <option value="${alliance['AllianceID']}" ${selected}>${alliance['AllianceName']}</option>
                        %endfor
                    </select>&nbsp;
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-3">
                    <label for="hqlevel" class="col-lg-2 control-label">HeadQuarters:</label>
                    <select type="text" id="hqlevel" name="hqlevel" value="${player['HeadQuarters']}" class="form-control">
                        % for i in xrange(18):
                            <%
                                if i == player['HeadQuarters']:
                                    selected = 'selected="selected"'
                                else:
                                    selected = ''
                            %>
                            <option value="${i}" ${selected}>${i}</option>
                        % endfor
                    </select>&nbsp;
                </div>
                <div class="form-group col-xs-3">
                    <label for="medals" class="col-lg-2 control-label">Medals:</label>
                    <input type="text" id="medals" name="medals" value="${player['MedalCount']}" class="form-control">&nbsp;
                </div>
                <div class="form-group col-xs-3">
                    <label for="level" class="col-lg-2 control-label">Level:</label>
                    <input type="text" id="level" name="level" value="${player['PlayerLevel']}" class="form-control">&nbsp;
                </div>
                <div class="form-group col-xs-3">
                    <label for="maxsquad" class="col-lg-2 control-label">MaxSquad:</label>
                    <input type="text" id="maxsquad" name="maxsquad" value="${player['MaxSquad']}" class="form-control">&nbsp;
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-6">
                    <label for="lineid" class="col-lg-12 control-label">LineID:</label>
                    <input type="text" id="lineid" name="lineid" value="${player['LineID']}" class="form-control">&nbsp;
                </div>
                <div class="form-group col-xs-6">
                    <label for="linedisplay" class="col-lg-12 control-label">Line Display Name:</label>
                    <input type="text" id="linedisplay" name="linedisplay" value="${player['LineDisplay']}" class="form-control">&nbsp;
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-12">
                    <label for="note" class="col-lg-12 control-label">Note:</label>
                    <input type="text" id="note" name="note" value="${player['Note']}" class="form-control">
                </div>
            </div>
        </fieldset>
        <div class="table_wrapper_button">
        <input type="submit" value="Save changes" id="add" class="btn btn-primary">
        </div>
        <p>&nbsp;</p>
    </div>
</form>
</%def>
