<%inherit file="base.html"/>
<%!
    import alliancekeeper
%>
<%def name="headerIncludes()">
    <div id="subhead_container">
        <div id="subhead_menu">
        </div>
    </div>
</%def>
<%def name="body()">
<form action="warUpdate" method="post">
    <div class="configtable">
        % if msg:
        <div class="alert alert-danger" style="text-align: center; padding: 8px;">
            ${msg}
        </div>
        % endif
        <fieldset>
            <legend>${title}</legend>
            <div class="form-group">
                <input type="text" id="warid" name="warid" value="${war['WarID']}" class="hidden">
            </div>
            <div class="form-group">
                <input type="text" id="timestamp" name="timestamp" value="${war['TimeStamp']}" class="hidden">
            </div>
            <div class="form-group">
                <input type="text" id="allianceid" name="allianceid" value="${war['AllianceID']}" class="hidden">
            </div>
            <div class="form-group">
                <label for="warleague" class="col-lg-2 control-label">War League:</label>
                <div class="col-lg-10">
                    <select name="warleague" id="warleague" class="form-control">
                        % for warleague in alliancekeeper.WAR_LEAGUES:
                            <%
                            if warleague == war['WarLeague']:
                                selected = 'selected="selected"'
                            else:
                                selected = ''
                            %>
                            <option value="${warleague}" ${selected}>${warleague}</option>

                        % endfor
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="waropponent" class="col-lg-2 control-label">Opponent:</label>
                <div class="col-lg-10">
                    <input type="text" id="waropponent" name="waropponent" value="${war['WarOpponent']}" class="form-control" placeholder="Opponent Name"><br>
                </div>
            </div>
            <div class="form-group">
                <label for="warstarttime" class="col-lg-2 control-label">Event Start Time:</label>
                <div class="col-lg-10">
                    <input type="datetime-local" id="warstarttime" name="warstarttime" value="${war['WarStartTime']}" class="form-control"><br>
                </div>
            </div>

            % if war['WarID'] != -1:
                <div class="form-group">
                    <label for="totalwarscore" class="col-lg-2 control-label">War Score:</label>
                    <div class="col-lg-10">
                        <input type="number" id="totalwarscore" name="totalwarscore" value="${war['TotalWarScore']}" class="form-control"><br>
                    </div>
                </div>
                <div class="form-group">
                    <label for="opponentwarscore" class="col-lg-2 control-label">Opponent Score:</label>
                    <div class="col-lg-10">
                        <input type="number" id="opponentwarscore" name="opponentwarscore" value="${war['OpponentWarScore']}" class="form-control"><br>
                    </div>
                </div>
            % else:
                <div class="form-group">
                    <input type="number" id="totalwarscore" name="totalwarscore" value="${war['TotalWarScore']}" class="hidden">
                </div>
                <div class="form-group">
                    <input type="number" id="opponentwarscore" name="opponentwarscore" value="${war['OpponentWarScore']}" class="hidden">
                </div>
            % endif
        </fieldset>
        <div class="table_wrapper_button">
        <input type="submit" value="Save changes" id="add" class="btn btn-primary">
        </div>
        <p>&nbsp;</p>
    </div>
</form>
</%def>
