<%inherit file="base.html"/>
<%!
    import alliancekeeper
%>
<%!
def previndex(key, previousindex, player=None):
    if previousindex:
        if previousindex[key]:
            return previousindex[key]
        else:
            return 0
    elif key == "MedalCount":
        return player['MedalCount']
    elif key == "PlayerLevel":
        return player['PlayerLevel']
%>
<%def name="headerIncludes()">
    <div id="subhead_container">
        <div id="subhead_menu">
        </div>
    </div>
</%def>
<%def name="body()">
<form action="indexUpdate" method="post">
    <div class="row">
        % if msg:
        <div class="alert alert-danger" style="text-align: center; padding: 8px;">
            ${msg}
        </div>
        % endif
        <fieldset>
            <legend>${title}</legend>
            <div class="form-group">
                <input type="text" id="IndexID" name="IndexID" value="${baseindex['IndexID']}" class="hidden">
            </div>
            <div class="form-group">
                <input type="text" id="TimeStamp" name="TimeStamp" value="${baseindex['TimeStamp']}" class="hidden">
            </div>
            <div class="form-group">
                <input type="text" id="PlayerID" name="PlayerID" value="${baseindex['PlayerID']}" class="hidden">
            </div>
            <div class="row">
                <h3>${player['PlayerName']}</h3>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading"><h3 class="panel-title">Details</h3></div>
                <div class="panel-body">
                    <div class="form-group col-md-2 col-xs-4">
                        <label for="HQLevel" class="col-lg-12 control-label">HQ:</label>
                        <div class="col-lg-10">
                            <select id="HQLevel" name="HQLevel" value="${hq}" class="form-control" placeholder="HQ Level">
                                %for i in xrange(14):
                                <%
                                    val = i + 4
                                    if val == int(hq):
                                        selected = 'selected="selected"'
                                    else:
                                        selected = ''
                                %>
                                <option value="${val}" ${selected}>${val}</option>
                                %endfor
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-2 col-xs-4">
                        <label for="PlayerLevel" class="col-lg-12 control-label">Player Level:</label>
                        <div class="col-xs-12">
                            <input type="number" id="PlayerLevel" name="PlayerLevel" value="${player['PlayerLevel']}" class="form-control" placeholder="Player Level">
                        </div>
                    </div>
                    <div class="form-group col-md-2 col-xs-4">
                        <label for="MedalCount" class="col-lg-12 control-label">Medals:</label>
                        <div class="col-xs-12">
                            <input type="number" id="MedalCount" name="MedalCount" value="${player['MedalCount']}" class="form-control" placeholder="Medal">
                        </div>
                    </div>
                    <div class="form-group col-md-2 col-xs-4">
                        <label for="BuildBots" class="col-lg-12 control-label">Build Bots:</label>
                        <div class="col-xs-12">
                            <select id="BuildBots" name="BuildBots" value="${previndex('BuildBots',previousindex)}" class="form-control">
                                %for i in xrange(4):
                                <%
                                    val = i + 2
                                    if val == previndex('BuildBots',previousindex):
                                        selected = 'selected="selected"'
                                    else:
                                        selected = ''
                                %>
                                <option value="${val}" ${selected}>${val}</option>
                                %endfor
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-4 col-xs-8">
                        <label for="IndexDate" class="col-lg-12 control-label">Index Date:</label>
                        <div class="col-xs-12">
                            <input type="datetime-local" id="IndexDate" name="IndexDate" value="${baseindex['IndexDate']}" class="form-control" placeholder="Date">
                        </div>
                    </div>

                </div>
            </div>
            %for type in alliancekeeper.DEFENSES:
                %if int(hq) >= int(type['MinDisplay']):
                    <div class="panel panel-primary">
                        <div class="panel-heading"><h3 class="panel-title">${type['Label']}</h3></div>
                        <div class="panel-body">
                            %for entry in type['Row']:
                                <%
                                    value = previndex(entry['Field'],previousindex)
                                %>
                                %if int(hq) >= int(entry['MinHQ']):
                                    <div class="form-group col-md-${entry['ColumnSize']}">
                                        <label for="${entry['Field']}" class="col-xs-12 control-label">${entry['Field']}:</label>
                                        <div class="col-xs-12">
                                            <select id="${entry['Field']}" name="${entry['Field']}" value="${value}" class="form-control">
                                                % for i in xrange((int(hq)-int(entry['LevelOffset'])+1)):
                                                    <%
                                                        val = i
                                                        if val == value:
                                                            selected = 'selected="selected"'
                                                        else:
                                                            selected = ''
                                                    %>
                                                    <option value="${val}" ${selected}>${val}</option>
                                                % endfor
                                            </select>
                                        </div>
                                    </div>
                                %endif
                            %endfor
                        </div>
                    </div>
                %endif
            %endfor
            <div class="panel-primary">
                <div class="panel-heading"><h3 class="panel-title">Walls</h3></div>
                <div class="panel-body">
                %for i in xrange(int(hq)):
                    <%
                    walllevel = int(hq)-i
                    %>
                    <div class="form-group col-md-2">
                        <label for="Wall${walllevel}" class="col-xs-12 control-label">Level ${walllevel}:</label>
                        <%
                            value = previndex('Wall%s' % walllevel, previousindex)
                        %>
                        <select id="Wall${walllevel}" name="Wall${walllevel}" value="${value}" class="form-control">
                        % for w in xrange(alliancekeeper.WALLS[int(hq)] + 1):
                            <%
                                if w == value:
                                    selected = ' selected="selected"'
                                else:
                                    selected = ''
                            %>
                            <option value="${w}"${selected}>${w}</option>
                        % endfor
                        </select>
                    </div>
                %endfor
                </div>
            </div>
        </fieldset>
        <div class="table_wrapper_button">
        <input type="submit" value="Save changes" id="add" class="btn btn-primary">
        </div>
        <p>&nbsp;</p>
    </div>
</form>
</%def>
