<%inherit file="base.html"/>
<%!
    import alliancekeeper
%>
<%def name="headerIncludes()">
<div id="subhead_container" class="row">
        <div id="subhead_menu"  class="col-xs-12 col-md-8">
        % if _session['access_level'] >= 2:
            <a href="editEvent?EventID=-1" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i> Create Event</a>
        % endif
        </div>
</div>
</%def>
<%def name="body()">
<div class="row">
    <ul class="breadcrumb">
        <li><a href="${alliancekeeper.CONFIG['HTTP_ROOT']}">Home</a></li>
        <li class="active">Events</li>
    </ul>
</div>

<h1>${title}</h1>
<div class="table-responsive">
   <table class="display table table-striped table-hover table-bordered" id="event_table">
        <thead>
        <tr>
            <th class="select text-center no-sort"><input type="checkbox" onClick="toggleAll(this)" /></th>
            <th class="EventStartTime">Event Start Time</th>
            <th class="eventname">Event Name</th>
            <th class="eventtype">Event Type</th>
            <th class="eventtotalscore">Family Score</th>
        </tr>
        </thead>
    </table>
</div>
</%def>
<%def name="javascriptIncludes()">
  <script type="text/javascript">
    $(document).ready(function()
    {
        var oTable = $('#event_table').DataTable(
            {
                "order": [[ 1, 'desc' ]],
                "bAutoWidth": false,
                "stateSave": true,
                "columnDefs":[
                    { targets: 'no-sort', orderable: false },
                    { targets: [0], 'render': function(data, type, row) {
                        return '<input type="checkbox" name="' + data + '" class="checkbox" />';} },
                    { targets: [2], 'render': function(data, type, row) {
                        return '<a href="eventPage?EventID=' + row[0] + '#results" target="_self">' + data + '</a>';} }
                    ],
                "oLanguage": {
                    "sSearch": "Filter: ",
                    "sLengthMenu":"_MENU_ rows per page",
                    "sEmptyTable": "No events found",
                    "sInfo":"Showing _START_ to _END_ of _TOTAL_ rows",
                    "sInfoEmpty":"Showing 0 to 0 of 0 rows",
                    "sInfoFiltered":"(filtered from _MAX_ total rows)"},
                "sPaginationType": "full_numbers",
                "aaSorting": [[2, 'desc']],
                "bServerSide": true,
                "sAjaxSource": 'getEvents?source=All',
                "bFilter": true,
                "aLengthMenu": [[5, 10, 15, 25, 50, 100, -1], [5, 10, 15, 25, 50, 100, "All"]],
                "iDisplayLength": ${alliancekeeper.CONFIG['DISPLAYLENGTH']},
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    $('td', nRow).eq(0).addClass('text-center');
                    // hide cover,stars,date on small devices
                    return nRow;
                },
            });
        $('.dataTables_filter input').attr("placeholder", "Results Filter");
        //$(window).resize(function() {oTable.draw(false)});
        $('a.toggle-vis').click(function (e) {
            e.preventDefault();
            var column = oTable.column( $(this).attr('data-column') );
            column.visible( ! column.visible() );
        } );
    });
  </script>
</%def>
