<%inherit file="base.html"/>
<%!
    import alliancekeeper
%>
<%def name="headerIncludes()">
    <div id="subhead_container">
        % if _session['access_level'] >= 1:
            <a href="eventFunctions?EventID=${event['EventID']}&function=Refresh&redirect=Event" class="btn btn-sm btn-primary"><i class="fa fa-refresh"></i> Refresh Event</a>
        % endif
        % if _session['access_level'] >= 2:
            <a href="eventFunctions?EventID=${event['EventID']}&function=Planning&redirect=Event" class="btn btn-sm btn-primary"><i class="fa fa-refresh"></i> Initialize/Refresh EventPlanning</a>
        % endif
    </div>
</%def>

<%def name="body()">
<div class="row">
        <div class="row">
            <ul class="breadcrumb">
                <li><a href="${alliancekeeper.CONFIG['HTTP_ROOT']}">Home</a></li>
                <li><a href="${alliancekeeper.CONFIG['HTTP_ROOT']}events">Events</a></li>
                <li class="active">${event['EventName']}</li>
            </ul>
        </div>
    % if msg:
        <div class="alert alert-info" style="text-align: center; padding: 8px;">
            ${msg}
        </div>
    % endif
    <div id="eventhead_container" class="col-md-9">
        <div id="eventhead_menu">
            <h1>${event['EventName']} [${event['EventStartTime']}]
                % if int(_session['access_level']) >= 2:
                    <a href="editEvent?EventID=${event['EventID']}">
                    <small><i>Edit</i></small></a>
                % endif
            </h1>
            <h3><b>Event Type:</b> ${event['EventType']}</h3>
        </div>

    </div>
</div>
<div role="tab-table" class="hidden">
    <div>
        <ul class="nav nav-tabs" role="tablist" id="eventtabs">
            <li role="presentation" id="1" aria-controls="results"><a role="tab" data-toggle="tab" aria-controls="results" href="#results">Results</a></li>
            % if eventplan > 0:
                <li role="presentation" id="2" aria-controls="movement"><a role="tab" data-toggle="tab" aria-controls="movement" href="#movement">Planning - Movement</a></li>
                <li role="presentation" id="3" aria-controls="summaries"><a role="tab" data-toggle="tab" aria-controls="summaries" href="#summaries">Planning - Summaries</a></li>
                <li role="presentation" id="4" aria-controls="details"><a role="tab" data-toggle="tab" aria-controls="details" href="#details">Planning - Details</a></li>
            % endif
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane" id="results">
                <div class="configtable">
                    <div class="row">
                        <div class="table-responsive">
                            <table class="display table table-striped table-hover table-bordered" id="eventresults_table">
                                <thead>
                                <tr>
                                    <th class="alliancename">Alliance</th>
                                    <th class="playername">Player Name</th>
                                    <th class="commitment">Committed</th>
                                    <th class="eventpoints">Points</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="movement">
                <div class="configtable">
                    <div class="row">
                            %if globaleventplan:
                                <%
                                    url = 'commitment?PlanID=%s' % (globaleventplan['PlanUUID'])
                                %>
                            <h3>GLOBAL Commitment Link: <a href="${url}">${url}</a></h3>
                            %else:
                            <h3>No Planning Defined</h3>
                            %endif

                        <form action="officerCommitmentUpdate" method="post">
                            <%
                                showmove = ''
                                if not alliancekeeper.CONFIG['COMMIT_SHOWMOVE']:
                                    showmove = ' hidden'
                            %>
                            <div class="configtable">
                                <fieldset>
                                    <legend>${title}</legend>
                                    <div class="form-group">
                                        <input type="text" id="eventid" name="eventid" value="${event['EventID']}" class="hidden">
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-2 col-xs-8">
                                            <label for="playerid" class="col-lg-12 control-label">Player Name:</label>
                                            <select name="playerid" id="playerid" class="form-control" autofocus>
                                                %for player in playerlist:
                                                <option value="${player['PlayerID']}">${player['PlayerName']}</option>
                                                %endfor
                                            </select>
                                        </div>
                                        <div class="form-group col-md-1 col-xs-4">
                                            <label for="commitment" class="col-lg-12 control-label">Commit:</label>
                                            <input type="number" id="commitment" name="commitment" class="form-control">
                                        </div>
                                        <div class="form-group col-md-1 col-xs-3 text-center">
                                            <label for="availfriday" class="col-lg-12 control-label">Fri</label>
                                            <input type="Checkbox" id="availfriday" name="availfriday" class="form-control" checked="checked">
                                        </div>
                                        <div class="form-group col-md-1 col-xs-3 text-center">
                                            <label for="availsaturday" class="col-lg-12 control-label">Sat</label>
                                            <input type="Checkbox" id="availsaturday" name="availsaturday" class="form-control" checked="checked"><br>
                                        </div>
                                        <div class="form-group col-md-1 col-xs-3 text-center">
                                            <label for="availsunday" class="col-lg-12 control-label">Sun</label>
                                            <input type="Checkbox" id="availsunday" name="availsunday" class="form-control" checked="checked">
                                        </div>
                                        <div class="form group col-md-1 col-xs-3 text-center${showmove}">
                                            <label class="col-lg-12 control-label">Moveable</label>
                                            <input type="Checkbox" id="willingtomove" name="willingtomove" class="form-control" checked="checked">
                                        </div>
                                        <div class="form-group col-md-3 col-xs-8">
                                            <label for="notes" class="col-lg-12 control-label">Notes</label>
                                            <input type="text" id="notes" name="notes" class="form-control">&nbsp;
                                        </div>


                                        <div class="form-group col-md-2 col-xs-4">
                                            <label class="col-lg-12 control-label">Submit:</label>
                                            <input type="submit" value="Save changes" id="add" class="btn btn-primary">
                                        </div>
                                    </div>
                                </fieldset>
                                <p>&nbsp;</p>
                            </div>
                        </form>

                    </div>
                    <div class="row">
                        <form action="eventMovement" method="get" class="form-inline">
                            <div class="indented">
                                <input type="hidden" name="redirect" value="event">
                                <input type="hidden" name="EventID" value="${event['EventID']}">
                                <div class="form-group">
                                    <label for="destination" class=""> To </label>
                                    <select class="movePlayers form-control input-sm" id="destination" name="destination">
                                        %for all in alliancelist:
                                        <option value="${all['AllianceID']}">${all['AllianceName']}</option>
                                        %endfor
                                    </select>
                                </div>
                                <input type="submit" class="movePlayers btn btn-sm btn-primary" value="Go">
                            </div>
                            <div class="table-responsive">
                                <table class="display table table-striped table-hover table-bordered" id="eventplanning_table">
                                    <thead>
                                    <tr>
                                        <th class="select text-center no-sort"><input type="checkbox" onClick="toggleAll(this)" /></th>
                                        <th class="playername">Player Name</th>
                                        <th class="currentalliance">Current Alliance</th>
                                        <th class="commitment">Commitment</th>
                                        <th class="newalliance">Transfer To</th>
                                        <th class="availfriday">Friday</th>
                                        <th class="availsaturday">Saturday</th>
                                        <th class="availsunday">Sunday</th>
                                        <th class="willingtomove${showmove}">Move?</th>
                                        <th class="Notes">Notes</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </form>
                        <p>&nbsp;</p>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="summaries">
                <div class="configtable">
                    % for alliance in rosters:
                        <%
                            count = len(alliance['Roster'])
                        %>
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">${alliance['AllianceName']}</h3>
                            </div>
                            <div class="panel-body">
                                <h4>Commitment: ${alliance['TotalCommitment']}</h4>
                                <h4>Players: ${count}</h4>
                                % for player in alliance['Roster']:
                                    <%
                                    btntype = 'primary'
                                    if player['CommittedPoints'] is None:
                                        btntype = 'danger'
                                    %>
                                    <div class="col-lg-2 col-md-3 col-xs-6 bottom5">
                                    <a href="playerPage?PlayerID=${player['PlayerID']}" class="btn btn-${btntype} col-xs-12">${player['PlayerName']}<br><small>${player['CommittedPoints']}</small></a>
                                    </div>
                                % endfor
                            </div>
                        </div>
                    % endfor
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="details">
                <div class="configtable">
                    <div class="row">
                    % for alliance in rosters:
                        <%
                            count = len(alliance['Roster'])
                        %>
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">${alliance['AllianceName']}</h3>
                            </div>
                            <div class="panel-body">
                                <h4>Commitment: ${alliance['TotalCommitment']}</h4>
                                <h4>Players: ${count}</h4>
                                <div class="table-responsive">
                                    <table class="display table table-striped table-hover table-bordered">
                                        <thead>
                                        <tr>
                                            <th class="playername">Player Name</th>
                                            <th class="commitment">Commitment</th>
                                            <th class="availfriday">Friday</th>
                                            <th class="availsaturday">Saturday</th>
                                            <th class="availsunday">Sunday</th>
                                            <th class="willingtomove">Move?</th>
                                            <th class="Notes">Notes</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        % for player in alliance['Roster']:
                                            <tr>
                                                <td class="playername">${player['PlayerName']}</td>
                                                <td class="commitment">${player['CommittedPoints']}</td>
                                                <td class="availfriday">${player['AvailFriday']}</td>
                                                <td class="availsaturday">${player['AvailSaturday']}</td>
                                                <td class="availsunday">${player['AvailSunday']}</td>
                                                <td class="willingtomove">${player['WillingToMove']}</td>
                                                <td class="notes">${player['Notes']}</td>
                                            </tr>
                                        % endfor
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    % endfor

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</%def>

<%def name="javascriptIncludes()">
    <script type="text/javascript">
    function initThisPage()

    {
        "use strict";
        // when the page first loads, hide all tab headers and panels
        $("li[role='presentation']").attr("aria-selected", "false");
        $("li[role='presentation']").removeClass('active');
        $("div[role='tabpanel']").attr("aria-hidden", "true");
        $("div[role='tabpanel']").removeClass('active');
        // which one do we want to show
        var tabnum = 1;
        var tabid = $("#" + tabnum);
        var tabpanel = tabid.attr('aria-controls');
        var tabpanelid = $("#" + tabpanel);
        // show the tab header and panel we want
        tabpanelid.attr("aria-hidden", "false");
        tabpanelid.addClass('active');
        tabid.attr("aria-selected", "true");
        tabid.addClass('active');
        $("div[role='tab-table']").removeClass('hidden');
        var url = document.location.toString();
        if (url.match('#')) {
            $('.nav-tabs a[href="#' + url.split('#')[1] + '"]').tab('show');
        }
        % if tag:
            $('.nav-tabs a[href="#${tag}"]').tab('show');
        % endif
        // when a tab is clicked
        $("li[role='presentation']").click(function(){
            var tabnum = $(this).attr('id');    // store current tab for python
            $("#current_tab").val(tabnum);
        });


    } // End Init

    $(document).ready(function() {
        initThisPage();
    });
  </script>
    <script type="text/javascript">
    $(document).ready(function()
    {
        var oTable = $('#eventplanning_table').DataTable(
            {
                "order": [[ 3, 'desc' ]],
                "bAutoWidth": false,
                "stateSave": true,
                "columnDefs":[
                    { targets: 'no-sort', orderable: false },
                    { targets: [0], 'render': function(data, type, row) {
                        return '<input type="checkbox" name="' + data + '" class="checkbox" />';} },
                    { targets: [1], 'render': function(data, type, row) {
                        return data ;} },
                    { targets: [2], 'render': function(data, type, row) {
                        return data ;} },
                    { targets: [3], 'render': function(data, type, row) {
                        return data ;} },
                    { targets: [4], 'render': function(data, type, row) {
                        return data ;} },
                    { targets: [5], 'render': function(data, type, row) {
                        return data ;} },
                    { targets: [6], 'render': function(data, type, row) {
                        return data ;} },
                    { targets: [7], 'render': function(data, type, row) {
                        return data ;} },
                    { targets: [8], 'render': function(data, type, row) {
                        return data ;} },
                    { targets: [9], 'render': function(data, type, row) {
                        return data ;} }
                    ],
                "oLanguage": {
                    "sSearch": "Filter: ",
                    "sLengthMenu":"_MENU_ rows per page",
                    "sEmptyTable": "No commitments found",
                    "sInfo":"Showing _START_ to _END_ of _TOTAL_ rows",
                    "sInfoEmpty":"Showing 0 to 0 of 0 rows",
                    "sInfoFiltered":"(filtered from _MAX_ total rows)"},
                "sPaginationType": "full_numbers",
                "aaSorting": [[3, 'desc']],
                "bServerSide": true,
                "sAjaxSource": 'getEventPlanningAll?EventID=${event['EventID']}',
                "bFilter": true,
                "aLengthMenu": [[5, 10, 15, 25, 50, 100, -1], [5, 10, 15, 25, 50, 100, "All"]],
                "iDisplayLength": ${alliancekeeper.CONFIG['DISPLAYLENGTH']},
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    $('td', nRow).eq(0).addClass('text-center');
                    % if not alliancekeeper.CONFIG['COMMIT_SHOWMOVE']:
                    $('td', nRow).eq(8).addClass('hidden');
                    % endif
                    return nRow;
                },
            });
        $('.dataTables_filter input').attr("placeholder", "Results Filter");
        //$(window).resize(function() {oTable.draw(false)});
        $('a.toggle-vis').click(function (e) {
            e.preventDefault();
            var column = oTable.column( $(this).attr('data-column') );
            column.visible( ! column.visible() );
        } );
    });

    </script>
    <script type="text/javascript">
    $(document).ready(function()
    {
        var oTable = $('#eventresults_table').DataTable(
            {
                "order": [[ 3, 'desc' ]],
                "bAutoWidth": false,
                "stateSave": true,
                "columnDefs":[
                    { targets: 'no-sort', orderable: false },
                    { targets: [0], 'render': function(data, type, row) {
                        return '<a href="allianceEventPage?AllianceID=' + row[4] + '&EventID=' + row[5] + '#results">' + data + '</a>' ;} },
                    { targets: [1], 'render': function(data, type, row) {
                        return '<a href="playerPage?PlayerID=' + row[6] + '#events">' + data + '</a>' ;} },
                    { targets: [3], 'render': function(data, type, row) {
                        return statusblock(data, row[2]);
                        }
                    }
                    ],
                "oLanguage": {
                    "sSearch": "Filter: ",
                    "sLengthMenu":"_MENU_ rows per page",
                    "sEmptyTable": "No results found",
                    "sInfo":"Showing _START_ to _END_ of _TOTAL_ rows",
                    "sInfoEmpty":"Showing 0 to 0 of 0 rows",
                    "sInfoFiltered":"(filtered from _MAX_ total rows)"},
                "sPaginationType": "full_numbers",
                "aaSorting": [[2, 'desc']],
                "bServerSide": true,
                "sAjaxSource": 'getEventResults?source=All&EventID=${event['EventID']}',
                "bFilter": true,
                "aLengthMenu": [[5, 10, 15, 25, 50, 100, -1], [5, 10, 15, 25, 50, 100, "All"]],
                "iDisplayLength": ${alliancekeeper.CONFIG['DISPLAYLENGTH']},
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    $('td', nRow).eq(0).addClass('text-center');
                    return nRow;
                },
            });
        $('.dataTables_filter input').attr("placeholder", "Results Filter");
        //$(window).resize(function() {oTable.draw(false)});
        $('a.toggle-vis').click(function (e) {
            e.preventDefault();
            var column = oTable.column( $(this).attr('data-column') );
            column.visible( ! column.visible() );
        } );
    });


    function statusblock(score, commit) {
        var returnstring='<div class="progress">';
        var percent = Math.round((score/commit)*100);
        if (percent < 50) {
            var rclass = 'danger'
            var barwidth = 15;
        }
        else if (percent < 85) {
            var rclass = 'danger';
            var barwidth = percent;
        }
        else if ( percent < 95) {
            var rclass = 'warning';
            var barwidth = percent;
        }
        else if (percent < 120) {
            var rclass = 'info';
            if (percent < 100) {
                var barwidth = percent;
            }
            else {
                barwidth = 100;
            }
        }
        else {
            var rclass = 'success';
            barwidth = 100;
        }
        returnstring += '<div class="progress-bar progress-bar-' + rclass + '" style="width: ' + barwidth + '%;" aria-valuenow=""' + percent + '" aria-valuemin="0" aria-valuemax="100" >' + score + ' (' + percent + '%)</div>';

        returnstring += '</div>';
        return returnstring;
    }
    </script>
</%def>

