<%inherit file="base.html"/>
<%!
    import alliancekeeper
%>
<%def name="headerIncludes()">
    <div id="subhead_container" class="row">
      <form action="search" method="get">
        <div id="subhead_menu"  class="col-xs-12 col-md-8">
            <a href="allianceFunctions?function=Refresh&redirect=Home" class="btn btn-sm btn-primary" id="refresh"><i class="fa fa-refresh"></i> Refresh Alliances</a>
            % if _session['access_level'] >= 2:
                <a href="editAlliance?AllianceID=-3" class="btn btn-sm btn-primary" id="addalliance"><i class="fa fa-plus"></i> Add Alliance</a>
            % endif
        </div>
        <div class="clearfix visible-xs"><hr/></div>
        <div class="col-xs-12 col-md-4">
        <div class="form-group">
          <label class="sr-only">Search</label>
          <div class="input-group">
            <input type="text"  id="name" name="name" placeholder="Player / Event / Opponent" name="title" class="form-control input-sm col-xs-12">
            <!--input type="text" class="form-control input-sm col-xs-12" value="" onfocus="if(this.value==this.defaultValue) this.value='';" name="name" placeholder="Title / Author / ISBN" id="searchbox" name="searchbox"-->
            <span class="input-group-btn">
              <button type="submit" value="Book" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="bottom" title="Search"><i class="fa fa-search"></i></button>
            </span>
          </div>
        </div>
        </div>
      </form>
    </div>
</%def>
<%def name="body()">
% if msg:
    <div class="alert alert-info" style="text-align: center; padding: 8px;">
        ${msg}
    </div>
% endif
<h1>${title}</h1>
<div class="table-responsive">
    <table class="display table table-striped table-hover table-bordered" id="alliance-table">
        <thead>
            <tr>
                <th class="alliancename col-xs-3">Alliance</th>
                <th class="playercount col-xs-2 text-center">Players</th>
                <th class="medalcount col-xs-2 text-center">Medals</th>
            </tr>
        </thead>
    </table>
</div>
</%def>
<%def name="javascriptIncludes()">
  <script type="text/javascript">
    $(document).ready(function()
    {
        var table = $('#alliance-table').DataTable(
            {
                "responsive": true,
                "bAutoWidth": false,
                "stateSave": true,
                "order": [[ 0, 'asc']],
                "columnDefs":
                    [{ targets: 'no-sort', orderable: false },
                     { targets: [0], 'render': function(data, type, row) {
                         return '<a href="alliancePage?AllianceID=' + row[3] + '">' + data + '</a>';} },
                     { targets: [1], 'render': function(data, type, row) {
                         return data;} },
                     { targets: [2], 'render': function(data, type, row) {
                         return data;} },
                     { type: 'natural-nohtml', targets: 2 }],
                "oLanguage": {
                    "sSearch": "Filter: ",
                    "sLengthMenu":"_MENU_ rows per page",
                    "sEmptyTable": "No alliances found",
                    "sInfo":"Showing _START_ to _END_ of _TOTAL_ rows",
                    "sInfoEmpty":"Showing 0 to 0 of 0 rows",
                    "sInfoFiltered":"(filtered from _MAX_ total rows)"},
                "bServerSide": true,
                "sAjaxSource": 'getIndex',
                "bFilter": true,
                "aLengthMenu": [[5, 10, 15, 25, 50, 100, -1], [5, 10, 15, 25, 50, 100, "All"]],
                "iDisplayLength": ${alliancekeeper.CONFIG['DISPLAYLENGTH']},
                "sPaginationType": "full_numbers",
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    $('td', nRow).eq(1).addClass('text-center');
                    $('td', nRow).eq(2).addClass('text-center');
                    return nRow;
                },
                "aaSorting": [[1, 'asc']],
            });
        $('.dataTables_filter input').attr("placeholder", "Results filter");
        $('a.toggle-vis').click(function (e) {
            e.preventDefault();
            var column = table.column( $(this).attr('data-column') );
            column.visible( ! column.visible() );
        } );
    });
  </script>
</%def>
