<%inherit file="base.html"/>
<%!
    import alliancekeeper
%>
<%def name="body()">
    <BR><BR>
    <h1>&nbsp;${title}</h1>
   <div class="row">
        <div>
            <div class="login-logo">
                <!-- <img alt="PlexPy" src="${http_root}images/logo-plexpy@2x.png"> -->
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <form action="${http_root}login" method="post">
                        % if msg:
                        <div class="alert alert-danger" style="text-align: center; padding: 8px;">
                            ${msg}
                        </div>
                        % endif
                        <div class="form-group">
                            <label for="username" class="control-label">
                                Username
                            </label>
                            <input type="text" id="username" name="username" class="form-control" autocorrect="off" autocapitalize="off" value="${username}" autofocus>
                        </div>
                        <div class="form-group">
                            <label for="password" class="control-label">
                                Password
                            </label>
                            <input type="password" id="password" name="password" class="form-control">
                        </div>
                        <div class="form-footer">
                            <div class="remember-group">
                                <label class="control-label">
                                    <input type="checkbox" id="remember_me" name="remember_me" title="for 30 days" value="1" checked="checked" /> Remember me
                                </label>
                            </div>
                            <button type="submit" class="btn btn-bright login-button"><i class="fa fa-sign-in"></i>&nbsp; Sign In</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</%def>