<%inherit file="base.html"/>
<%!
    import alliancekeeper
    from alliancekeeper.dbactions import getUserPrefs
%>
<%def name="headerIncludes()">
<div id="subhead_container" class="row">
        <div id="subhead_menu"  class="col-xs-12 col-md-8">
        % if _session['access_level'] > 0:
            <a href="editPlayer?PlayerID=-1" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i> Add Player</a>
        % endif
        </div>
</div>
</%def>
<%def name="body()">
<%
    prefs = getUserPrefs(userid=_session['user_id'])
    if prefs['SHOW_BASE_INDEX'] == 1:
        showbaseindex = ""
    else:
        showbaseindex = " hidden"
    if prefs['SHOW_HEADQUARTERS'] == 1:
        showheadquarters = ""
    else:
        showheadquarters = " hidden"
    if prefs['SHOW_LEVEL'] == 1:
        showlevel = ""
    else:
        showlevel = " hidden"
    if prefs['SHOW_MSP'] == 1:
        showmsp = ""
    else:
        showmsp = " hidden"
%>

<div class="row">
    <ul class="breadcrumb">
        <li><a href="${alliancekeeper.CONFIG['HTTP_ROOT']}">Home</a></li>
        <li class="active">Players</li>
    </ul>
</div>

<div class="row">
    % if msg:
        <div class="alert alert-info" style="text-align: center; padding: 8px;">
            ${msg}
        </div>
    % endif
    <div id="playerhead_container" class="col-md-9">
        <div id="playerehead_menu">
            <h1>${title}</h1>
        </div>
    </div>
</div>
<div class="configtable">
    <div class="row">
        <form action="movePlayers" method="get" class="form-inline">
            <div class="indented">
                <input type="hidden" name="redirect" value="players">
                <div class="form-group">
                    <label for="action" class="">Selected action</label>
                    <select class="movePlayers form-control input-sm" id="action" name="action">
                        <option value="Transfer">Transfer</option>
                        <option value="Retire">Retire</option>
                        <option value="BlackList">BlackList</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="destination" class=""> To </label>
                    <select class="movePlayers form-control input-sm" id="destination" name="destination">
                        %for all in alliancelist:
                        <option value="${all['AllianceID']}">${all['AllianceName']}</option>
                        %endfor
                    </select>
                </div>
                <input type="submit" class="markPlayers btn btn-sm btn-primary" value="Go">
                % if alliancekeeper.CONFIG['TOGGLES'] == True:
                    &nbsp;&nbsp;Toggle:
                    <a class="toggle-vis" data-column="2">Player Name</a> -
                    <a class="toggle-vis" data-column="3">MedalCount</a> -
                    <a class="toggle-vis" data-column="4">Level</a> -
                    <a class="toggle-vis" data-column="5">Line Info</a> -
                    <a class="toggle-vis" data-column="6">Gun Index</a> -
                    <a class="toggle-vis" data-column="7">Event Count</a> -
                    <a class="toggle-vis" data-column="8">War Count</a> -
                    <a class="toggle-vis" data-column="9">War Average</a> -
                    <a class="toggle-vis" data-column="10">Note</a>
                    <p>&nbsp;</p>
                % endif
            </div>
            <div class="table-responsive">
               <table class="display table table-striped table-hover table-bordered" id="player_table">
                    <thead>
                    <tr>
                        <th class="select text-center no-sort"><input type="checkbox" onClick="toggleAll(this)" /></th>
                        <th class="alliancename">Alliance</th>
                        <th class="playername">Player Name</th>
                        <th class="headquarters${showheadquarters}">Headquarters</th>
                        <th class="medalcount hidden-xs">Medal Count</th>
                        <th class="level hidden-xs${showlevel}">Level</th>
                        <th class="maxsquad${showmsp}">Max Squad Power</th>
                        <th class="lineid">Line ID</th>
                        <th class="gunindex${showbaseindex}">Base/Gun Index</th>
                        <th class="eventcount">Event Count</th>
                        <th class="warcount">War Count</th>
                        <th class="waraverage">War Average</th>
                        <th class="note">Note</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </form>
    </div>
</div>
</%def>
<%def name="javascriptIncludes()">
<%
    prefs = getUserPrefs(userid=_session['user_id'])
%>
  <script type="text/javascript">
    $(document).ready(function()
    {
        var oTable = $('#player_table').DataTable(
            {
                "order": [[ 2, 'asc' ]],
                "bAutoWidth": false,
                "stateSave": true,
                "columnDefs":[
                    { targets: 'no-sort', orderable: false },
                    { targets: [0], 'render': function(data, type, row) {
                        return '<input type="checkbox" name="' + data + '" class="checkbox" />';} },
                    { targets: [2], 'render': function(data, type, row) {
                        return '<a href="playerPage?PlayerID=' + row[0] + '" target="_self">' + data + '</a>';} },
                    { targets: [8], 'render': function(data, type, row) {
                        return percentBar(data);
                    } },
                    ],
                "oLanguage": {
                    "sSearch": "Filter: ",
                    "sLengthMenu":"_MENU_ rows per page",
                    "sEmptyTable": "No players found",
                    "sInfo":"Showing _START_ to _END_ of _TOTAL_ rows",
                    "sInfoEmpty":"Showing 0 to 0 of 0 rows",
                    "sInfoFiltered":"(filtered from _MAX_ total rows)"},
                "sPaginationType": "full_numbers",
                "aaSorting": [[2, 'asc']],
                "bServerSide": true,
                "sAjaxSource": 'getPlayers?source=All',
                "bFilter": true,
                "aLengthMenu": [[5, 10, 15, 25, 50, 100, -1], [5, 10, 15, 25, 50, 100, "All"]],
                "iDisplayLength": ${alliancekeeper.CONFIG['DISPLAYLENGTH']},
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    $('td', nRow).eq(0).addClass('text-center');
                    $('td', nRow).eq(6).addClass('text-center');
                    $('td', nRow).eq(7).addClass('text-center');
                    $('td', nRow).eq(8).addClass('text-center');
                    // hide cover,stars,date on small devices
                    $('td', nRow).eq(6).addClass('hidden-xs');
                    $('td', nRow).eq(7).addClass('hidden-xs');
                    $('td', nRow).eq(8).addClass('hidden-xs');
                    % if prefs['SHOW_BASE_INDEX'] == 0:
                        $('td', nRow).eq(8).addClass('hidden');
                    % endif
                    % if prefs['SHOW_HEADQUARTERS'] == 0:
                        $('td', nRow).eq(3).addClass('hidden');
                    % endif
                    % if prefs['SHOW_MSP'] == 0:
                        $('td', nRow).eq(6).addClass('hidden');
                    % endif
                    % if prefs['SHOW_LEVEL'] == 0:
                        $('td', nRow).eq(5).addClass('hidden');
                    % endif
                    return nRow;
                },
            });
        $('.dataTables_filter input').attr("placeholder", "Results Filter");
        //$(window).resize(function() {oTable.draw(false)});
        $('a.toggle-vis').click(function (e) {
            e.preventDefault();
            var column = oTable.column( $(this).attr('data-column') );
            column.visible( ! column.visible() );
        } );
    });

    function percentBar(data) {
        var returnstring='<div class="progress">';
        var rclass = 'success';
        if (data < 85) {
            rclass = 'warning';
        }
        else if (data < 70) {
            rclass='danger';
        }
        returnstring += '<div class="progress-bar progress-bar-' + rclass + '" style="width: ' + data + '%">' + data + '%</div>';
        returnstring += '</div>';
        return returnstring;
    }
  </script>
</%def>
