<%inherit file="base.html"/>
<%!
    import alliancekeeper, datetime
%>
<%def name="headerIncludes()">
    <div id="subhead_container">
        % if _session['access_level'] >= 1:
            <a onclick="self.baseIndexQA(this,${player['PlayerID']},${player['HeadQuarters']})" class="button btn btn-sm btn-primary" data-toggle="tooltip" data-placement="bottom" title="Add a new Base Index to the player.  You will be given a selection of possible HQ levels."><i class="fa fa-plus"></i> Add Base Index</a>
        % endif
    </div>
</%def>

<%def name="body()">
<div class="row">
    <ul class="breadcrumb">
        <li><a href="${alliancekeeper.CONFIG['HTTP_ROOT']}">Home</a></li>
        <li><a href="${alliancekeeper.CONFIG['HTTP_ROOT']}alliancePage?AllianceID=${playeralliance['AllianceID']}">${playeralliance['AllianceName']}</a></li>
        <li class="active">${player['PlayerName']}</li>
    </ul>
</div>

<div class="row">
    <div id="playerhead_container" class="col-md-9">
        <div id="playerhead_menu">
            <h1>${player['PlayerName']} [${playeralliance['AllianceName']}]<a href=editPlayer?PlayerID=${player['PlayerID']}>
                % if _session['access_level'] >= 1:
                    <small><i>Edit</i></small></a>
                % endif
            </h1>
            <h3><b>HQ:</b> ${player['HeadQuarters']} - <b>Medals:</b> ${player['MedalCount']} - <b>Level:</b> - ${player['PlayerLevel']}</h3>
            % if player['PlayerGunIndex'] >= 0 and player['PlayerGunIndex'] <= 1:
                <h4><b>Gun Index: </b>${"{:.1%}".format(player['PlayerGunIndex'])}</h4>
            % endif
            % if player['MaxSquad'] > 0:
                <h4><b>Max Squad Power: </b>${player['MaxSquad']}</h4>
            % endif
            <h3><b>Line ID:</b> ${player['LineID']}</h3>
            % if len(player['LineDisplay']) > 2:
                <h3><b>Line Display:</b> ${player['LineDisplay']}</h3>
            % endif
            % if len(player['Note']) > 2:
                <h3><b>Note:</b> ${player['Note']}</h3>
            % endif
            % for league in leagues:
                <h3><b>${league['League']} League Average</b>: ${league['Average']}</h3>
            % endfor
        </div>

    </div>
</div>
<div role="tab-table" class="hidden">
    <div>
        <ul class="nav nav-tabs" role="tablist" id="playertabs">
            <li role="presentation" id="1" aria-controls="wars"><a role="tab" data-toggle="tab" aria-controls="wars" href="#wars">Wars</a></li>
            <li role="presentation" id="2" aria-controls="events"><a role="tab" data-toggle="tab" aria-controls="events" href="#events">Events</a></li>
            <li role="presentation" id="2" aria-controls="eventcommitments"><a role="tab" data-toggle="tab" aria-controls="eventcommitments" href="#eventcommitments">Event Commitments</a></li>
            <li role="presentation" id="3" aria-controls="basegunindex"><a role="tab" data-toggle="tab" aria-controls="basegunindex" href="#basegunindex">Base/Gun Index</a></li>
            <li role="presentation" id="4" aria-controls="history"><a role="tab" data-toggle="tab" aria-controls="history" href="#history">History</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane" id="wars">
                <div class="configtable">
                    <div class="row">
                        <div class="table-responsive">
                           <table class="display table table-striped table-hover table-bordered" id="warscores_table">
                                <thead>
                                <tr>
                                    <th class="warstarttime">Start Time</th>
                                    <th class="alliancename">War</th>
                                    <th class="warleague">League</th>
                                    <th class="warscore">Score</th>
                                    <th class="warattemptsremaining">Remaining Attempts</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="events">
                <div class="configtable">
                    <div class="row">
                        <div class="table-responsive">
                            <table class="display table table-striped table-hover table-bordered" id="eventresults_table">
                                <thead>
                                <tr>
                                    <th class="select text-center no-sort"><input type="checkbox" onClick="toggleAll(this)" /></th>
                                    <th class="eventstarttime">Start Time</th>
                                    <th class="eventname">Event Name</th>
                                    <th class="alliance">Alliance</th>
                                    <th class="commit">Commitment</th>
                                    <th class="points">Points</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="eventcommitments">
                <div class="configtable">
                    <div class="row">
                       <div class="table-responsive">
                            <table class="display table table-striped table-hover table-bordered" id="eventcommitments_table">
                                <thead>
                                <tr>
                                    <th class="eventstartdate">Event Date</th>
                                    <th class="eventname">Event Name</th>
                                    <th class="alliancename">Alliance</th>
                                    <th class="commitment">Commitment</th>
                                    <th class="availfriday">Friday</th>
                                    <th class="availsaturday">Saturday</th>
                                    <th class="availsunday">Sunday</th>
                                    <th class="willingtomove">Move?</th>
                                    <th class="Notes">Notes</th>
                                </tr>
                                </thead>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="basegunindex">
                <div class="configtable">
                    <div class="row">
                        <div class="table-responsive">
                            <table class="display table table-striped table-hover table-bordered" id="baseindex_table">
                                <thead>
                                <tr>
                                    <th class="IndexDate">Index Date</th>
                                    <th class="HQLevel">HQ Level</th>
                                    <th class="BuildBits">Build Bots</th>
                                    <th class="MedalCount">Medals</th>
                                    <th class="PlayerLevel">Level</th>
                                    % for group in alliancekeeper.DEFENSES:
                                        <th class="${group['Class']}">${group['Label']}</th>
                                    % endfor
                                    <th class="Walls">Walls</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="history">
                <div class="configtable">
                    <div class="row">
                        <div class="table-responsive">
                            <table class="display table table-striped table-hover table-bordered" id="activity_table">
                                <thead>
                                <tr>
                                    <th class="timestamp">TimeStamp</th>
                                    <th class="activitydate">Activity Date</th>
                                    <th class="activitydesc">Activity</th>
                                    <th class="username">By</th>
                                </tr>
                                </thead>
                            </table>
                        </div>

                    </div>
                </div>
            </div>

    </div>
</div>


</%def>

<%def name="javascriptIncludes()">
    <script type="text/javascript">
    function initThisPage()

    {
        "use strict";
        // when the page first loads, hide all tab headers and panels
        $("li[role='presentation']").attr("aria-selected", "false");
        $("li[role='presentation']").removeClass('active');
        $("div[role='tabpanel']").attr("aria-hidden", "true");
        $("div[role='tabpanel']").removeClass('active');
        // which one do we want to show
        var tabnum = 1;
        var tabid = $("#" + tabnum);
        var tabpanel = tabid.attr('aria-controls');
        var tabpanelid = $("#" + tabpanel);
        // show the tab header and panel we want
        tabpanelid.attr("aria-hidden", "false");
        tabpanelid.addClass('active');
        tabid.attr("aria-selected", "true");
        tabid.addClass('active');
        $("div[role='tab-table']").removeClass('hidden');
        var url = document.location.toString();
        if (url.match('#')) {
            $('.nav-tabs a[href="#' + url.split('#')[1] + '"]').tab('show');
        }
        // when a tab is clicked
        $("li[role='presentation']").click(function(){
            var tabnum = $(this).attr('id');    // store current tab for python
            $("#current_tab").val(tabnum);
        });


    } // End Init

    $(document).ready(function() {
        initThisPage();
    });
  </script>
    <script type="text/javascript">
    $(document).ready(function()
    {
        var oTable = $('#activity_table').DataTable(
            {
                "order": [[ 0, 'desc' ]],
                "bAutoWidth": false,
                "stateSave": true,
                "columnDefs":[
                    { targets: 'no-sort', orderable: false },
                    { targets: [0], 'render': function(data, type, row) {
                        return data ;} },
                    { targets: [1], 'render': function(data, type, row) {
                        return data ;} },
                    { targets: [2], 'render': function(data, type, row) {
                        return data ;} },
                    { targets: [3], 'render': function(data, type, row) {
                        return data ;} }
                    ],
                "oLanguage": {
                    "sSearch": "Filter: ",
                    "sLengthMenu":"_MENU_ rows per page",
                    "sEmptyTable": "No history found",
                    "sInfo":"Showing _START_ to _END_ of _TOTAL_ rows",
                    "sInfoEmpty":"Showing 0 to 0 of 0 rows",
                    "sInfoFiltered":"(filtered from _MAX_ total rows)"},
                "sPaginationType": "full_numbers",
                "aaSorting": [[0, 'desc']],
                "bServerSide": true,
                "sAjaxSource": 'getActivity?source=Player&PlayerID=${player['PlayerID']}',
                "bFilter": true,
                "aLengthMenu": [[5, 10, 15, 25, 50, 100, -1], [5, 10, 15, 25, 50, 100, "All"]],
                "iDisplayLength": ${alliancekeeper.CONFIG['DISPLAYLENGTH']},
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    $('td', nRow).eq(0).addClass('text-center');
                    return nRow;
                },
            });
        $('.dataTables_filter input').attr("placeholder", "Results Filter");
        //$(window).resize(function() {oTable.draw(false)});
        $('a.toggle-vis').click(function (e) {
            e.preventDefault();
            var column = oTable.column( $(this).attr('data-column') );
            column.visible( ! column.visible() );
        } );
    });

    </script>
    <script type="text/javascript">
    $(document).ready(function()
    {
        var oTable = $('#warscores_table').DataTable(
            {
                "order": [[ 0, 'desc' ]],
                "bAutoWidth": false,
                "stateSave": true,
                "columnDefs":[
                    { targets: 'no-sort', orderable: false },
                    { targets: [0], 'render': function(data, type, row) {
                        return data ;} },
                    { targets: [1], 'render': function(data, type, row) {
                        return '<a href="warPage?WarID=' + row[4] + '" target="_self">' + data + '</a>';} },
                    { targets: [2], 'render': function(data, type, row) {
                        return data ;} },
                    { targets: [3], 'render': function(data, type, row) {
                        return data ;} }
                    ],
                "oLanguage": {
                    "sSearch": "Filter: ",
                    "sLengthMenu":"_MENU_ rows per page",
                    "sEmptyTable": "No results found",
                    "sInfo":"Showing _START_ to _END_ of _TOTAL_ rows",
                    "sInfoEmpty":"Showing 0 to 0 of 0 rows",
                    "sInfoFiltered":"(filtered from _MAX_ total rows)"},
                "sPaginationType": "full_numbers",
                "aaSorting": [[1, 'desc']],
                "bServerSide": true,
                "sAjaxSource": 'getWarScores?source=Player&PlayerID=${player['PlayerID']}',
                "bFilter": true,
                "aLengthMenu": [[5, 10, 15, 25, 50, 100, -1], [5, 10, 15, 25, 50, 100, "All"]],
                "iDisplayLength": ${alliancekeeper.CONFIG['DISPLAYLENGTH']},
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    $('td', nRow).eq(0).addClass('text-center');
                    return nRow;
                },
            });
        $('.dataTables_filter input').attr("placeholder", "Results Filter");
        //$(window).resize(function() {oTable.draw(false)});
        $('a.toggle-vis').click(function (e) {
            e.preventDefault();
            var column = oTable.column( $(this).attr('data-column') );
            column.visible( ! column.visible() );
        } );
    });

    </script>
    <script type="text/javascript">
    $(document).ready(function()
    {
        var oTable = $('#eventresults_table').DataTable(
            {
                "order": [[ 1, 'desc' ]],
                "bAutoWidth": false,
                "stateSave": true,
                "columnDefs":[
                    { targets: 'no-sort', orderable: false },
                    { targets: [0], 'render': function(data, type, row) {
                        return '<input type="checkbox" name="' + data + '" class="checkbox" />';} },
                    { targets: [1], 'render': function(data, type, row) {
                        return data ;} },
                    { targets: [2], 'render': function(data, type, row) {
                        return '<a href="allianceEventPage?EventID=' + row[6] + '&AllianceID=' + row[7] + '" target="_self">' + data + '</a>' ;} },
                    { targets: [3], 'render': function(data, type, row) {
                        return data ;} },
                    {
                        targets: [4], 'render': function (data, type, row) {
                            return data;
                        } },
                    {
                        targets: [5], 'render': function (data, type, row) {
                            return statusblock(data, row[4]);
                        }
                    }
                    ],
                "oLanguage": {
                    "sSearch": "Filter: ",
                    "sLengthMenu":"_MENU_ rows per page",
                    "sEmptyTable": "No results found",
                    "sInfo":"Showing _START_ to _END_ of _TOTAL_ rows",
                    "sInfoEmpty":"Showing 0 to 0 of 0 rows",
                    "sInfoFiltered":"(filtered from _MAX_ total rows)"},
                "sPaginationType": "full_numbers",
                "aaSorting": [[1, 'desc']],
                "bServerSide": true,
                "sAjaxSource": 'getEventResults?source=Player&PlayerID=${player['PlayerID']}',
                "bFilter": true,
                "aLengthMenu": [[5, 10, 15, 25, 50, 100, -1], [5, 10, 15, 25, 50, 100, "All"]],
                "iDisplayLength": ${alliancekeeper.CONFIG['DISPLAYLENGTH']},
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    $('td', nRow).eq(0).addClass('text-center');
                    return nRow;
                },
            });
        $('.dataTables_filter input').attr("placeholder", "Results Filter");
        //$(window).resize(function() {oTable.draw(false)});
        $('a.toggle-vis').click(function (e) {
            e.preventDefault();
            var column = oTable.column( $(this).attr('data-column') );
            column.visible( ! column.visible() );
        } );
    });

    function statusblock(score, commit) {
        var returnstring='<div class="progress">';
        var percent = Math.round((score/commit)*100);
        if (percent < 50) {
            var rclass = 'danger'
            var barwidth = 15;
        }
        else if (percent < 85) {
            var rclass = 'danger';
            var barwidth = percent;
        }
        else if ( percent < 95) {
            var rclass = 'warning';
            var barwidth = percent;
        }
        else if (percent < 120) {
            var rclass = 'info';
            if (percent < 100) {
                var barwidth = percent;
            }
            else {
                barwidth = 100;
            }
        }
        else {
            var rclass = 'success';
            barwidth = 100;
        }
        returnstring += '<div class="progress-bar progress-bar-' + rclass + '" style="width: ' + barwidth + '%;" aria-valuenow=""' + percent + '" aria-valuemin="0" aria-valuemax="100" >' + score + ' (' + percent + '%)</div>';

        returnstring += '</div>';
        return returnstring;
    }

    </script>
    <script type="text/javascript">
    $(document).ready(function()
    {
        var oTable = $('#eventcommitments_table').DataTable(
            {
                "order": [[ 0, 'desc' ]],
                "bAutoWidth": false,
                "stateSave": true,
                "columnDefs":[
                    { targets: 'no-sort', orderable: false },
                    { targets: [0], 'render': function(data, type, row) {
                        return data ;} },
                    { targets: [1], 'render': function(data, type, row) {
                        return data ;} },
                    { targets: [2], 'render': function(data, type, row) {
                        return data ;} },
                    { targets: [3], 'render': function(data, type, row) {
                        return data ;} },
                    { targets: [4], 'render': function(data, type, row) {
                        return data ;} },
                    { targets: [5], 'render': function(data, type, row) {
                        return data ;} },
                    { targets: [6], 'render': function(data, type, row) {
                        return data ;} },
                    { targets: [7], 'render': function(data, type, row) {
                        return data ;} },
                    { targets: [8], 'render': function(data, type, row) {
                        return data ;} }
                    ],
                "oLanguage": {
                    "sSearch": "Filter: ",
                    "sLengthMenu":"_MENU_ rows per page",
                    "sEmptyTable": "No commitments found",
                    "sInfo":"Showing _START_ to _END_ of _TOTAL_ rows",
                    "sInfoEmpty":"Showing 0 to 0 of 0 rows",
                    "sInfoFiltered":"(filtered from _MAX_ total rows)"},
                "sPaginationType": "full_numbers",
                "aaSorting": [[0, 'desc']],
                "bServerSide": true,
                "sAjaxSource": 'getEventPlanning?source=Player&PlayerID=${player['PlayerID']}',
                "bFilter": true,
                "aLengthMenu": [[5, 10, 15, 25, 50, 100, -1], [5, 10, 15, 25, 50, 100, "All"]],
                "iDisplayLength": ${alliancekeeper.CONFIG['DISPLAYLENGTH']},
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    $('td', nRow).eq(0).addClass('text-center');
                    return nRow;
                },
            });
        $('.dataTables_filter input').attr("placeholder", "Results Filter");
        //$(window).resize(function() {oTable.draw(false)});
        $('a.toggle-vis').click(function (e) {
            e.preventDefault();
            var column = oTable.column( $(this).attr('data-column') );
            column.visible( ! column.visible() );
        } );
    });

    </script>
    <script type="text/javascript">
    $(document).ready(function()
    {
        var oTable = $('#baseindex_table').DataTable(
            {
                "order": [[ 0, 'desc' ]],
                "bAutoWidth": false,
                "stateSave": true,
                "columnDefs":[
                    {targets: [5],'render': function(data, type, row) {return indexBar(data);}},
                    {targets: [6],'render': function(data, type, row) {return indexBar(data);}},
                    {targets: [7],'render': function(data, type, row) {return indexBar(data);}},
                    {targets: [8],'render': function(data, type, row) {return indexBar(data);}},
                    {targets: [9],'render': function(data, type, row) {return indexBar(data);}},
                    {targets: [10],'render': function(data, type, row) {return indexBar(data);}},
                    {targets: [11],'render': function(data, type, row) {return indexBar(data);}},
                    {targets: [12], 'width': '15%', 'render': function(data, type, row) {return wallBar(data);}},
                    ],
                "oLanguage": {
                    "sSearch": "Filter: ",
                    "sLengthMenu":"_MENU_ rows per page",
                    "sEmptyTable": "No indexes found",
                    "sInfo":"Showing _START_ to _END_ of _TOTAL_ rows",
                    "sInfoEmpty":"Showing 0 to 0 of 0 rows",
                    "sInfoFiltered":"(filtered from _MAX_ total rows)"},
                "sPaginationType": "full_numbers",
                "aaSorting": [[0, 'desc']],
                "bServerSide": true,
                "sAjaxSource": 'getBaseIndex?source=Player&PlayerID=${player['PlayerID']}',
                "bFilter": true,
                "aLengthMenu": [[5, 10, 15, 25, 50, 100, -1], [5, 10, 15, 25, 50, 100, "All"]],
                "iDisplayLength": ${alliancekeeper.CONFIG['DISPLAYLENGTH']},
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    $('td', nRow).eq(0).addClass('text-center');
                    return nRow;
                },
            });
        $('.dataTables_filter input').attr("placeholder", "Results Filter");
        //$(window).resize(function() {oTable.draw(false)});
        $('a.toggle-vis').click(function (e) {
            e.preventDefault();
            var column = oTable.column( $(this).attr('data-column') );
            column.visible( ! column.visible() );
        } );
    });

    function indexBar(data) {
        var returnstring='<div class="progress">';
        for (var i = 0; i < data['Count']; i++) {
            var rclass = 'success';
            if (data['Defenses'][i]['Behind'] == 1) {
                rclass = 'warning';
            }
            else if (data['Defenses'][i]['Behind'] >= 2) {
                rclass='danger';
            }
            returnstring += '<div class="progress-bar progress-bar-' + rclass + '" style="width: ' + 100/data['Count'] + '%" data-toggle="tooltip" title="' + (data['Defenses'][i]['Level']/data['Defenses'][i]['MaxLevel'])*100 + '%">' + data['Defenses'][i]['Level'] + '</div>';
        }
        returnstring += '</div>';
        return returnstring;
    }

    function wallBar(data) {
        var returnstring='<div class="progress">';
        for (var i = 0; i < data['WallLevels']; i++) {
            var rclass = 'success';
            if (data['Walls'][i]['Behind'] == 1) {
                rclass = 'warning';
            }
            else if (data['Walls'][i]['Behind'] >= 2) {
                rclass='danger';
            }
            var percent = (data['Walls'][i]['Count']/data['TotalWalls'])*100
            returnstring += '<div class="progress-bar progress-bar-' + rclass + '" style="width: ' + percent + '%" data-toggle="tooltip" title="' + percent + '%">' + data['Walls'][i]['Level'] + '</div>';
        }
        returnstring += '</div>';
        return returnstring;
    }

    </script>
</%def>
