<%inherit file="base.html"/>
  <%def name="headIncludes()">
    <meta http-equiv="refresh" content="${timer};url=index">
  </%def>
  <%def name="body()">
    <div class="table_wrapper">
      <div id="shutdown">
        <h1>${title}</h1>
        <h2>AllianceKeeper is ${message}</h2>
      </div>
    </div>
  </%def>
