<%inherit file="base.html"/>
<%!
    import alliancekeeper
%>
<%def name="headerIncludes()">
    <div id="subhead_container" class="row">
        <div id="subhead_menu"  class="col-xs-12 col-md-8">
            <a href="editUser?UserID=-1" class="btn btn-sm btn-primary" id="refresh"><i class="fa fa-plus"></i> Add User</a>
        </div>
    </div>
</%def>
<%def name="body()">
<div class="row">
    <ul class="breadcrumb">
        <li><a href="${alliancekeeper.CONFIG['HTTP_ROOT']}">Home</a></li>
        <li class="active">Users</li>
    </ul>
</div>
<h1>${title}</h1>
<div class="table-responsive">
    <table class="display table table-striped table-hover table-bordered" id="user_table">
        <thead>
            <tr>
                <th class="select text-center no-sort"><input type="checkbox" onClick="toggleAll(this)" /></th>
                <th class="UserName">User Name</th>
                <th class="AccessLevel text-center">Access Level</th>
                <th class="Theme text-center">Theme</th>
            </tr>
        </thead>
    </table>
</div>
</%def>
<%def name="javascriptIncludes()">
  <script type="text/javascript">
    $(document).ready(function()
    {
        var table = $('#user_table').DataTable(
            {
                "responsive": true,
                "bAutoWidth": false,
                "stateSave": true,
                "order": [[ 0, 'asc']],
                "columnDefs":
                    [{ targets: 'no-sort', orderable: false },
                     { targets: [0], 'render': function(data, type, row) {
                        return '<input type="checkbox" name="' + data + '" class="checkbox" />';} },
                     { targets: [1], 'render': function(data, type, row) {
                         return '<a href="userPage?UserID=' + row[0] + '">' + data + '</a>';} },
                     { targets: [2], 'render': function(data, type, row) {
                         return data;} },
                     { targets: [3], 'render': function(data, type, row) {
                         return data;} },
                     { type: 'natural-nohtml', targets: 3 }],
                "oLanguage": {
                    "sSearch": "Filter: ",
                    "sLengthMenu":"_MENU_ rows per page",
                    "sEmptyTable": "No users found",
                    "sInfo":"Showing _START_ to _END_ of _TOTAL_ rows",
                    "sInfoEmpty":"Showing 0 to 0 of 0 rows",
                    "sInfoFiltered":"(filtered from _MAX_ total rows)"},
                "bServerSide": true,
                "sAjaxSource": 'getUsers',
                "bFilter": true,
                "aLengthMenu": [[5, 10, 15, 25, 50, 100, -1], [5, 10, 15, 25, 50, 100, "All"]],
                "iDisplayLength": ${alliancekeeper.CONFIG['DISPLAYLENGTH']},
                "sPaginationType": "full_numbers",
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    $('td', nRow).eq(0).addClass('text-center');
                    $('td', nRow).eq(2).addClass('text-center');
                    $('td', nRow).eq(3).addClass('text-center');
                    return nRow;
                },
                "aaSorting": [[1, 'asc']],
            });
        $('.dataTables_filter input').attr("placeholder", "Results filter");
        $('a.toggle-vis').click(function (e) {
            e.preventDefault();
            var column = table.column( $(this).attr('data-column') );
            column.visible( ! column.visible() );
        } );
    });
  </script>
</%def>
