<%inherit file="base.html"/>
<%!
    import alliancekeeper
%>
<%def name="headerIncludes()">
    <div id="subhead_container">
        % if _session['access_level'] > 0:
            <a href="editPlayer?PlayerID=-1&AllianceID=${alliance['AllianceID']}&Return=War&ReturnID=${war['WarID']}" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i> Add Player</a>
        % endif
        % if int(showallplayers) > 0:
            <a href="warPage?WarID=${war['WarID']}&ShowAllPlayers=0" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="bottom" title="Only alliance members will be present in the list for choosing results.  This is the standard mode."><i class="fa fa-refresh"></i> Alliance Players Only</a>
        % else:
            <a href="warPage?WarID=${war['WarID']}&ShowAllPlayers=1" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="bottom" title="Show all players in the list for choosing results.  This is useful for entering old war results where players may no longer be in the alliance."><i class="fa fa-refresh"></i> All Players</a>
        % endif
    </div>
</%def>

<%def name="body()">
<div class="row">
    <ul class="breadcrumb">
        <li><a href="${alliancekeeper.CONFIG['HTTP_ROOT']}">Home</a></li>
        <li><a href="${alliancekeeper.CONFIG['HTTP_ROOT']}alliancePage?AllianceID=${alliance['AllianceID']}">${alliance['AllianceName']}</a></li>
        <li class="active">${alliance['AllianceName']} vs ${war['WarOpponent']}</li>
    </ul>
</div>

<div class="row">
    <div id="warhead_container" class="col-md-9">
        <div id="warhead_menu">
            <h1>${alliance['AllianceName']} vs ${war['WarOpponent']}
                % if int(_session['access_level']) > 0:
                    <a href="editWar?WarID=${war['WarID']}&AllianceID=${alliance['AllianceID']}">
                    <small><i>Edit</i></small></a>
                % endif
            </h1>
            %if war['WarLeague']:
            <h3><b>War League:</b> ${war['WarLeague']}</h3>
            %endif
            <h3><b>Alliance Score:</b> ${war['TotalWarScore']}</h3>
            <h3><b>Opponent Score:</b> ${war['OpponentWarScore']}</h3>
        </div>

    </div>
</div>
<div role="tab-table" class="hidden">
    <div>
        <ul class="nav nav-tabs" role="tablist" id="wartabs">
            <li role="presentation" id="1" aria-controls="results"><a role="tab" data-toggle="tab" aria-controls="results" href="#results">Results</a></li>
        </ul>
            <div role="tabpanel" class="tab-pane" id="results">
                <div class="configtable">
                    <div class="row">
                        <form action="warscoresUpdate" method="post">
                            <div class="configtable">
                                % if msg:
                                <div class="alert alert-danger" style="text-align: center; padding: 8px;">
                                    ${msg}
                                </div>
                                % endif
                                <fieldset>
                                    <legend>${title}</legend>
                                    <div class="form-group">
                                        <input type="text" id="warid" name="warid" value="${war['WarID']}" class="hidden">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" id="timestamp" name="timestamp" value="${timestamp}" class="hidden">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" id="showallplayers" name="showallplayers" value="${showallplayers}" class="hidden">
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-xs-4">
                                            <label for="playerid" class="col-lg-6 control-label">Player Name:</label>
                                            <select name="playerid" id="playerid" class="form-control" autofocus>
                                                %for player in playerlist:
                                                <option value="${player['PlayerID']}">${player['PlayerName']}</option>
                                                %endfor
                                            </select>
                                        </div>

                                        <div class="form-group col-xs-2">
                                            <label for="warscore" class="col-lg-12 control-label">War Score:</label>
                                            <input type="number" id="warscore" name="warscore" class="form-control">
                                        </div>
                                        <div class="form-group col-xs-2">
                                            <label for="warattemptsleft" class="col-lg-12 control-label">Attempts Left:</label>
                                            <select name="warattemptsleft" id="warattemptsleft" class="form-control">
                                                <option value="0">0</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-xs-2">
                                            <label class="col-lg-12 control-label">Submit:</label>
                                            <input type="submit" value="Save changes" id="add" class="btn btn-primary">
                                        </div>
                                    </div>
                                </fieldset>
                                <p>&nbsp;</p>
                            </div>
                        </form>
                        <div class="table-responsive">
                            <table class="display table table-striped table-hover table-bordered" id="warscores_table">
                                <thead>
                                <tr>
                                    <th class="select text-center no-sort"><input type="checkbox" onClick="toggleAll(this)" /></th>
                                    <th class="playername">Player Name</th>
                                    <th class="warscore">Points</th>
                                    <th class="warattemptsleft">Remaining Attempts</th>
                                </tr>
                                </thead>
                            </table>
                        </div>

                    </div>
                </div>
            </div>

    </div>
</div>


</%def>

<%def name="javascriptIncludes()">
    <script type="text/javascript">
    function initThisPage()

    {
        "use strict";
        // when the page first loads, hide all tab headers and panels
        $("li[role='presentation']").attr("aria-selected", "false");
        $("li[role='presentation']").removeClass('active');
        $("div[role='tabpanel']").attr("aria-hidden", "true");
        $("div[role='tabpanel']").removeClass('active');
        // which one do we want to show
        var tabnum = $("#current_tab").val();
        var tabid = $("#" + tabnum);
        var tabpanel = tabid.attr('aria-controls');
        var tabpanelid = $("#" + tabpanel);
        // show the tab header and panel we want
        tabpanelid.attr("aria-hidden", "false");
        tabpanelid.addClass('active');
        tabid.attr("aria-selected", "true");
        tabid.addClass('active');
        $("div[role='tab-table']").removeClass('hidden');

        // when a tab is clicked
        $("li[role='presentation']").click(function(){
            var tabnum = $(this).attr('id');    // store current tab for python
            $("#current_tab").val(tabnum);
        });


    } // End Init

    $(document).ready(function() {
        initThisPage();
    });
  </script>
    <script type="text/javascript">
    $(document).ready(function()
    {
        var oTable = $('#warscores_table').DataTable(
            {
                "order": [[ 2, 'desc' ]],
                "bAutoWidth": false,
                "stateSave": true,
                "columnDefs":[
                    { targets: 'no-sort', orderable: false },
                    { targets: [0], 'render': function(data, type, row) {
                        return '<input type="checkbox" name="' + data + '" class="checkbox" />';} },
                    { targets: [1], 'render': function(data, type, row) {
                        return data ;} },
                    { targets: [2], 'render': function(data, type, row) {
                        return data ;} },
                    { targets: [3], 'render': function(data, type, row) {
                        return data ;} }
                    ],
                "oLanguage": {
                    "sSearch": "Filter: ",
                    "sLengthMenu":"_MENU_ rows per page",
                    "sEmptyTable": "No results found",
                    "sInfo":"Showing _START_ to _END_ of _TOTAL_ rows",
                    "sInfoEmpty":"Showing 0 to 0 of 0 rows",
                    "sInfoFiltered":"(filtered from _MAX_ total rows)"},
                "sPaginationType": "full_numbers",
                "aaSorting": [[2, 'desc']],
                "bServerSide": true,
                "sAjaxSource": 'getWarScores?source=War&WarID=${war['WarID']}',
                "bFilter": true,
                "aLengthMenu": [[5, 10, 15, 25, 50, 100, -1], [5, 10, 15, 25, 50, 100, "All"]],
                "iDisplayLength": ${alliancekeeper.CONFIG['DISPLAYLENGTH']},
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    $('td', nRow).eq(0).addClass('text-center');
                    return nRow;
                },
            });
        $('.dataTables_filter input').attr("placeholder", "Results Filter");
        //$(window).resize(function() {oTable.draw(false)});
        $('a.toggle-vis').click(function (e) {
            e.preventDefault();
            var column = oTable.column( $(this).attr('data-column') );
            column.visible( ! column.visible() );
        } );
    });

    </script>
</%def>
